%h1
  =link_to image_tag('icons/new.png', :alt=>"new.png", :style=>"border:none;"), url_for(:controller => "notes", :action => "new"), :title=> _('Add Note')
  =_('General Notes')
-if @notes.empty?
  %h2
    %i
      =_('Without General Notes')
-else
  %div{:id => "all_notes"}
    -@notes.each do |note|
      %div{:id => "actions", :style => "text-align:right;"}
        -msg = _('Sure to remove the Note')
        =link_to image_tag('/images/icons/edit.png', :alt=>"lapiz_azul.png", :style=>"border:none;margin-left:8px;height:14px;",  :title=>_('Edit')),  url_for(:controller => 'notes',:action => 'edit', :id => note.id )
        %a{:onclick => "if(confirm('#{msg}?'))location='/notes/delete/#{note.id}'", :style => "cursor:pointer;"}
          %img{:src => '/images/icons/cross.png', :alt=>"cross_blue.png", :style=>"border:none;margin-left:8px;height:14px;",  :title=>_('Delete')}
      .form_tag
        %ul
          %li
            %b{:title=>note.user.name}
              =_('Writer:')
            =truncate(note.user.name, :ommision => "...", :length => 30)
          %li
            %b
              =_('Date:')
            =note.created_at
          %li
            %b
              =_('Note:')
            %p{:id => "note_#{note.id}", :style=>"overflow:auto; padding-left:20px;max-width:500px; max-height:200px;"}
              =note.text

      %br
      %br

