-javascript 'richtext.js'
=stylesheet_link_tag 'editor.css'
%h1
  =_('General Notes')
  %br
  %br
  =_('New General Note')
.main
  %body
    %form{ :name => "RTEDemo", :onsubmit => "updateRTE('rte1');", :action => "create", :style=>"width:55%;"}
      = error_messages_for :note
      %script
        initRTE("/images/editor/", "/notes/", "");
        //Usage: writeRichText(fieldname, html, width, height, buttons, readOnly)
        writeRichText('rte1', '', 650, 200, true, false);
      %div{:style=>" float:right;"}
        -msg = _('Exit Without Save?')
        = submit_tag _('Add'), { :style => "cursor:pointer;" }
        %input{:type=>"button", :value=>_("Cancel"), :onclick => "if(confirm('#{msg}')){location='/notes'};", :style=>"cursor:pointer;"}


//Tools menu
-content_for :tools_menu do
  =link_to _('General Notes') , "/notes", {:title => _('Add/Remove Notes'), :style => "line-height:30px;border-right:1px solid #C6C5C4;padding-right:20px;text-decoration:none;"}
  =link_to _("Functions"), "/user_functions", {:title => _("Add/Remove Functions"), :style => "line-height:30px;border-right:1px solid #C6C5C4;padding-right:20px;padding-left:20px;text-decoration:none;"}
  =link_to _("Projects"), "/projects", {:title => _("Projects Administration"), :style => "line-height:30px;border-right:1px solid #C6C5C4;padding-right:20px;padding-left:20px;text-decoration:none;"}
  =link_to _("Users"), "/users", {:title => _("Users Administration"), :style => "line-height:30px;border-right:1px solid #C6C5C4;padding-right:20px;padding-left:20px;text-decoration:none;"}
  =link_to _("Summary"), "/graphs", {:title => _("Summary"), :style => "line-height:30px;border-right:1px solid #C6C5C4;padding-right:20px;padding-left:20px;text-decoration:none;"}
  =link_to _("Run Configuration"), "/context_configurations", {:title => _("Run Configuration"), :style => "line-height:30px;padding-left:20px;text-decoration:none;"}