%h2
  =_("Select an Execution Order")
%ol#circuits
  -circuits.each do |circuit|
    -content_tag_for :li, circuit do
      .cases
        %span.handle [move]
        %b{:title=>circuit.name.capitalize}
          =truncate(circuit.name.capitalize,:ommision => "...", :length =>30)

=sortable_element("circuits", :url => sort_suites_path, :handle => "handle")