//SUITE EDIT INFO
.info{:id=>"infoSuiteEdit", :style=>"display:none; "}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"infoSuiteEdit"}  
  .infoData
    %h2{:style=>"text-align:center;"}
      %b
        =_("Suite Edit")
      %p{:style=>"text-align:center;"}
        =_("Here you can edit everything related to a Suite")
        %br
        =_("For example: Name, Description, Script composed, order execution, and more.")

    %h3
      %img{:src => "/images/icons/play.png", :alt=>"play.png"}
      =_('Run')
    %p
      =_('Run the selected Suite.')
      %br    

    %h3
      %img{:src => "/images/icons/queue.png", :alt=>"queue"}
      =_('Queued Task')
    %p
      =_('Shows the number of waiting Executions in the system')

    %h3
      %img{:src => "/images/icons/relations.png", :alt=>"relations.png"}
      =_('Relation')

    %p
      =_('In this section can be related suites scripts,')
      =_('relations are always set in pairs (a script is related to another that is going to send data)')
      %br
      =_('In the relations can assign as many cases as desired')
      =_('therefore, is recommended that all necessary cases are added to the Suite before entering in this view.')
      %br
      =_('To establish a relation should be:')
      %br
      =_('1 - Select a couple of scripts to be related.')
      %br
      =_('2 - Determine which variables will be shared.')
      %br
      =_('3 - Select the involved cases for each script.')

    %h3
      %img{:src => "/images/icons/show.png", :alt=>"show.png"}
      =_('Detail')
    %p
      =_('In detail you can see a diagram with the scripts in the suite and its relations.')
      %br
      =_('In this section you can select a script and analyze its relationship with others. View of those who receives and sends data.')
      %br

