/New
=link_to image_tag('/images/icons/new.png', :alt=>'new',:title=>_('New'),:style=>'margin-left:150px;'), new_suite_path

/Edit
%img{:src => "/images/icons/edit.png", :alt=>'edit', :title=>_('Edit'), :onClick => "if(is_marked(marcado, anysuite))location.href='/suites/'+ marcado +'/edit';"}

/Relations
%img{:src => "/images/icons/relations.png", :alt=>'relations', :title=>_('Relations'),:onClick => "if(is_marked(marcado, anysuite))location.href='/suites/relations1/' + marcado;"}

/Delete
%img{:src => '/images/icons/trash.png', :alt=>'trash', :title=>_('Delete'), :onClick => "if(is_marked(marcado, anysuite) && confirm(msgalert))location='/suites/delete/'+ marcado;"}

/Calendar
=link_to image_tag('/images/icons/calendar.png', :alt=>'calendar',  :title=>_('Schedule List')), delayed_jobs_path

/Calendar new
=link_to image_tag('/images/icons/calendar_new.png',:alt=>'calendar',:title=>_('New Schedule')),new_task_program_path

/Import
=link_to image_tag('/images/icons/suiteimp.png', :alt=>'import', :title=>_('Import suites from other projects')), '/suites/import_suite'

/Info
%img{:src => '/images/icons/info.png',:alt=>'info',:title=>_('Information'),:onClick => "document.getElementById('infoSuite').toggle();", :style=>"padding-right:20px;border-right: 1px solid #C6C5C4;"}

/Play
%img{:src => '/images/icons/play.png',:alt=>'run', :title=>_('Run'), :onClick => "if(is_marked(marcado, anysuite))location.href='/suite_executions/new?suite_id='+ marcado;"}

/Queue observer
=render :partial => 'queue_observers/queue_icon'

/Search
.buscar
  - form_for :search, url_for(:controller=>"suite", :action=>"index", :project_id=>@project.id) do |f|
    = f.text_field '', :value=>@param_search, :style => 'width: 130px' , :onblur=>"if (this.value == '') {this.value = 'Search suite'; ;this.style.color='grey'}", :onfocus=>"if (this.value == 'Search suite') {this.value = '';this.style.color='black'}"
    %input{:type=>"image",:src=>"/images/icons/search.png"}

/Help 
=render :partial => "info_suite"
