//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
%div{:id=>"show_circuits", :class=>"div_show", :style=>" display:none;padding:0 20px;height:250px;overflow:auto;"}
  .form_tag{ :style=>"float:left; margin-left:20px; width:95%; padding-right:0px;"}
    %h3
      =_("Scripts and Cases Added:")
    %ul{:style=>"overflow:auto;padding:0px 20px;"}
      -for circuit in @suite.circuits do
        %h2{:title=>circuit.name, :style=>"margin:auto 0 10px;"}
          =image_tag('icons/script.png', :alt=>"script.png", :style=>"margin-right:10px;")
          =link_to truncate(circuit.name.capitalize,:ommision => "...", :length =>30), edit_project_circuit_path(circuit.project_id,circuit) 
        //Cases
        .form_tag{:style=>"padding:0px; 10px; min-height:50px;margin:auto 0 10px;background:#EEEEEE;"}
          -if suite_cases(circuit,@suite.case_templates).empty?
            %br
            %i{:style=>"text-align:center;margin-left:20px;color:#31576F;"}
              =_("Without Added Cases")
          -else
            -for case_template in suite_cases(circuit,@suite.case_templates) do
              .cases_suite_show{:style => 'margin-left:20px;margin-top:5px;padding-bottom:3px;'}
                %li{:title=>case_template.objective, :style=>"float:left;color:#31576F;"}
                  =truncate(case_template.objective,:ommision => "...", :length =>40)
              %br
            %div{ :style=>"clear: both"}
