%div{:id=>"show_graph", :class=>"div_show",:style=>" display:none;padding:0 20px;height:250px;overflow:auto;"}
  -if !@suite.suite_fields_relations.empty?
    %img{:src => "/images/graphs/" + @suite.id.to_s + ".png", :alt=>"#{@suite.id.to_s}.png", :style=>" padding:5px; margin-left:10px; margin-top:10px; margin-bottom: 20px;"}
  -else
    %img{:src => "/images/icons/relations.png", :alt=>"relations.png", :title=>'Relaciones', :style=>"float:left;"}
    %i{:title=>@suite.name.capitalize, :style=>"color:#373737;margin-left:20px;"}
      =_("Without Relations")
    %h3{:onClick => "location.href='/suites/relations1/#{@suite.id}';",  :style=>"cursor:pointer;text-decoration:underline;"}
      \-->
      =_("Link Relations")
      \<--
