-remote_form_for :suite, :url => "/suites/update/#{suite.id}", :update => "suite_information" do |f|
  -if @editmsg == "OK"
    %h{:style => "color:#088A4B;"}
      =_('Modification was successful')
  -else
    %br
  %label{:for => "name"}
    =_("Name")
    %br
    = f.text_field :name, :style=>"width:250px;"
  %br
  %label{:for => "description"}
    =_("Description")
    = f.text_area :description, :style=>"width:250px;height:30px;"
  =submit_tag _('Save'), :style=>"cursor:pointer;float:right;margin-right:20px;margin-top:10px;"
  .form_show_errors{ :style=>"margin-top:40px;"}
    = error_messages_for :suite