.tag{ :id => "suite_graph", :style=>"width:800px;height:400px;left:250px;top:120px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"suite_graph"}  
  %h3{:title=>@suite.name}
    Suite:
    =truncate(@suite.name,:ommision => "...", :length => 50)
  %br

  //Graph
  .default_button{:id=>"button_graph", :name=>"button_only", :onClick=>"showDiv('show_graph');",:style=>"float:left;margin-left:20px;"}
    =_("Graph")
  //Relations
  .default_button{:id=>"button_relations",:name=>"button_only", :onClick=>"showDiv('show_relations');",:style=>"float:left; "}
    =_("Relations")
  //Relations
  .default_button{:id=>"button_circuits",:name=>"button_only", :onClick=>"showDiv('show_circuits');",:style=>"float:left; "}
    =_("Scripts and Cases")

  %div{:style=>"overflow:auto;width:100%;height:350px;"}
    =render :partial => 'show_graph',     :locals => {:suite => @suite}
    =render :partial => 'show_relations', :locals => {:suite => @suite}
    =render :partial => 'show_circuits',  :locals => {:suite => @suite}
