-javascript 'import_suite'
-javascript 'dtree'
  
.main
  -form_for :suite, :url => "/suites/save_import_suite" do
    %div{:id => "arbol", :style=>"float:left; margin-left: 20px;margin-right: 40px;margin-bottom:20px; width:90%;"}
      %h2
        %div{:style=>"width:300px;float:left;"}
          =_("Select Suites of Projects:")
        %div{:style=>" float:right; width:30px;"}
          %input{ :type => "Button", :value => _("Import >>"),:onclick=>"if(validateSelection())document.getElementById('import_suite').style.display='';",:style=>"cursor:pointer; float:right; margin-right:28px; border:none; color:#4F5DD5; font: 12px sans-serif;font-weight:bold; -moz-border-radius:15px;margin-bottom:10px;" }
        %div{ :style=>"clear: both"}

        %img{ :src=>"/images/dtree/expandall.png", :alt=>"expandall.png", :title=>_("Expand All"),:onclick => "d.openAll();", :style=>"cursor:pointer;margin-left:15px;"}
        %img{ :src=>"/images/dtree/colapseall.png",:alt=>"colapseall.png",:title=>_("Collapse All"), :onclick => "d.closeAll();", :style=>"cursor:pointer;"}
        .dtree
          %script
            d = new dTree('d');
            d.add(0,-1,'Proyectos');
            =category_tree(@projects, 'import_suite')
            document.write(d);

    %div{ :style=>"clear: both"}


    //DIV for know if copy data set or not
    .tag{ :id => "import_suite", :style=>" display:none; left: 500px; top: 120px;  width: 200px;height: 130px;"}
      %img{ :src => "/images/icons/cross_grey.png", :alt=>"cross_grey.png", :onClick => "document.getElementById('import_suite').style.display='none';", :style=>"cursor:pointer;float:right;"}
        %h3
          =_("Copy Selected Suites")
          %br
          =_("with Scripts")
        %input{:id=>"copy_cases",:name=>"copy_cases", :type=>"checkbox", :style=>"float:left;margin-left:20px;", :checked => true}
        %label{:style=>"color:#31576F;font-family:sans-serif;font-size:12px;display:inline;"}
          =_("Copy Data Set")
        %br
        %br
        %input{:type=>"button", :value=>_("Copy"), :onClick => "document.forms[0].submit();", :style=>"float:right;cursor:pointer;"}
