.main
  %h1{:style=>"color:#FF8000; font-size:20px;float:left;width:100px;margin:5px auto 10px;"}
    Suite   
  %h3{:style=>"color:#FF8000;"}
    =_('A')
    %b
      Suite    
    =_('is a set of scripts that run one after the other.')      
  
  =render :partial => "suite_tutorial"

