.assignments{:id=>"assignments"}
  .r{:id=>"permition_result", :style => "color:blue"}
    %div{:style=>"left: 30%; height:30%; width:20%;"}
      .div_abm{:style=>"color:#288EB1;"}
        %img{ :src => "/images/icons/relations.png", :alt=>"Assign", :style=>"cursor:pointer; width:20px; height:20px;"}
        =_('Assign to Project')
        -form_for(:assignment, :url => user_assignments_path(@user.id), :html => {:method => :post}) do |f|
          %label
          %br  
          =_('Select a Project')
          %br
          %select{:name=>"project_id"}
            -@user.other_projects.each do |oproject|
              %option{ :value =>  oproject.id}
                =oproject.name
          %br
          %br
          %br
          %br
          %br       
            =submit_tag _("Assign"), :style=>"cursor:pointer;"    

