.deallocates{:id=>"deallocates"}      
  .r{:id=>"permition_result", :style => "color:red"}      
    %div{:style=>"left: 30%; height:30%; width:20%;"}
      .div_abm{:style=>"color:red;"}
        %img{ :src => "/images/icons/cross2.png", :alt=>"cross.png", :style=>"cursor:pointer;"}
        =_('Deallocate to Project')
        -form_for(:assignment, :url => user_assignment_path(@user.id,[params[:project_id]]), :html => {:method => :delete}) do
          %label
          %br  
          =_('Select a Project')
          %br
          %select{:name=>"project_id"}
            -@user.my_projects.each do |myproject|
              %option{ :value =>  myproject.id}
                =myproject.name
          %br
          %br
          %br
          %br
          %br 
            =submit_tag _("Deallocate"), :confirm=>_("Sure to remove relations?"), :style=>"cursor:pointer;" 
