%i#select_suites   
  -value = params[:filter] && params[:filter][:suite_id]  ? params[:filter][:suite_id].to_i: ''  
  -if !suites.empty?
    =select("filter", "suite_id", suites.collect {|s| [ truncate(s.name.capitalize, :ommision => "...", :length => 60) , s.id ] }.sort!,{ :selected => value, :include_blank => _('All')})
  -else
    %i
      =_("Project Without Suites")
