//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

//Task Program

.tag{ :id => "task_program", :style=>"left: 30%; height:300px; width:450px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"task_program"}  
  %h3
    =_('Confirm Task Program')
  -if !suites.empty?    
    %h2
      =_('Must Select any Suite') 
    
    =select "program", "suite_id",suites.collect {|s| [ truncate(s.name, :ommision => "...", :length => 60) , s.id ] }.sort!,{:include_blank => _('All')},{:onchange => remote_function(:update => "task_program_detail",  :method => "get",  :url => { :controllers => :task_program, :action => :get_task_program_detail},:condition=>"$j(this).val()!=''",:with => 'Form.Element.serialize(this)'), :style=>"max-width:200px; margin-left:10px;margin-top:5px;" }
  -else
    %br
    %br
    %br
    %h2{:style=>"text-align:center;"}
      %i
        =_('Without Schedule')  
        
  #task_program_detail
  
  
  
