-javascript 'select_all'
-javascript 'checked_default'
-javascript 'checkbox_lib'
=stylesheet_link_tag 'jquery-ui.css'
= calendar_date_select_includes "blue"
= stylesheet_link_tag 'blue.css'

.main{:style=>"width:95%;padding:1.5% 0;margin:0 auto;"}
  -remote_form_for @suite_execution, :before => "$j('form .form_button input').attr('disabled',true);", :url =>{:controller=>:task_programs, :action=> :confirm}, :html => {:id => "form_to_run_suite"} do
    =text_field "execution", "where_did_i_come", :value => "new_program", :style => "display:none;"
    %h1
      =image_tag("icons/calendar-and-tasks.png", :alt=>"calendar-and-tasks.png")
      =_("Suite Scheduler:")          
      .form_button
        =submit_tag _('Schedule')
  
    -(@column_1.empty? or @column_2.empty?) ?    (style_1 = "width:34%;float:left;margin-rigth:1%;"; style_2="width:33%;float:left;margin: 0 1%;"; style_3="width:29%;float:left;margin-left:1%;") :(style_1 = "width:27%;float:left;margin-rigth:1%;"; style_2="width:23%;float:left;margin: 0 1%;"; style_3="width:47%;float:left;margin-left:1%;")   
    %div{:style=>style_1}
      =render :partial => 'select_suites'
      =render :partial => 'context_configurations/calendar_config', :locals => {:init_date => @init_date}
    %div{:style=>style_2}
      =render :partial => 'context_configurations/suite_program_config'
      =render :partial => 'context_configurations/constant_config', :locals => {:user_configuration => @user_configuration }
    %div{:style=>style_3}
      =render :partial => 'context_configurations/variable_config', :locals => {:column_1 => @column_1, :column_2 => @column_2 }


%script
  /Edit cron
  $j('.edit_select').click(function(){$j('#cron>select.inline,input.inline').toggle();$j('#cron>:visible').removeAttr('disabled');$j('#cron>:hidden').attr('disabled', 'disabled'); });   



