.tag{ :id => "div_checker", :style=>"left: 390px; top: 120px; height:280px; width:450px;padding-right:10px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"div_checker"}  
  %h3
    =_('Sintax Check')
  %div{:style=>"height:220px;overflow:auto;width:430px;"}
    -if status
      %h3{:style=>"color:green;font-size:16px;margin-right:15px;margin-top:8%;"}
        OK
        %br
        %br
        =image_tag "icons/ok.png", :alt=>"ok"

    -if !warnings.empty?
      %ul{ :style=>"clear: both"}
        -warnings.each do |d|
          %li{:style=>"list-style-type:none;"}
            =image_tag "icons/warning.png", :alt=>"warning", :style=>"margin-right:10px;"
            =d
    -if !errors.empty?
      %h3{:style=>"color:red;font-size:16px;margin-right:15px;margin-top:8%;"}
        FAIL
        %br
        %br
        =image_tag "icons/no_ok.png", :alt=>"no_ok"
      %ul{ :style=>"clear: both"}
        -errors.each do |d|
          %li{:style=>"list-style-type:none;"}
            =image_tag "icons/fail_1.png", :alt=>"fail", :style=>"margin-right:10px;"
            =d

            