.tag{ :id => "div_script_edit", :style=>"left: 600px; top: 120px; width:250px; height:240px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"div_script_edit"}
  %h3
    =_('Rename Script')
  -remote_form_for :circuit, :method=>:put, :url => project_circuit_path(@circuit.project_id, @circuit), :complete => visual_effect(:appear, 'sideBarContentsInner'), :update => "sideBarContentsInner" do
    %label
      =_('Name')
      %br
      =text_field_tag 'name', @circuit.name, :id =>"script_n", :style=>"width:220px;margin-left:10px;margin-top:10px;"
    %br
    %label
      =_('Description')
      %br
      =text_area_tag 'description', @circuit.description, :id =>"script_d", :style=>"width:220px;margin-left:10px;margin-top:10px;"

    %br
    .form_button{:style=>"margin-right:10px;"}
      =submit_tag _('Modify')


