.form_show_errors{:id=>"errors", :style=>"margin-left:30px;color:red;"}
  -if circuit_id
    //Se realiza este redirect porque como las validaciones del formulario se realizan por Ajax
    //en caso de exito y subir correctamente el script quiero redireccionar a la pagina de edit.
    %script
      location='/circuits/edit/#{circuit_id}'
  -if !errors.nil?
    -errors.each do |error|
      =error.to_a[1]
      %br
  