//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

.tag{ :id => "comment_save", :style=>"display:none;left: 38%;width:215px; height:210px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"comment_save"}
  %h3
    =_('Comment')
  %p{:style=>"text-align:left;margin-bottom:0px;height:120px;"}
    =_('Write a comment indicating changes made:')
    %br
    %br
    %textarea{ :id => "commit_message", :type => "text", :style=>"width:200px;"}
  %img{:src => "/images/icons/save.png", :title => _("Save Changes"), :style=>"float:right;cursor:pointer;", :onClick => remote_function(:complete => "document.getElementById('comment_save').toggle();document.getElementById('commit_message').value='';", :update => "save_message", :method=>:put, :url=>project_circuit_path(@circuit.project_id, @circuit), :with => "'content=' + encodeURI(encode_text(codepress_content_free.getCode())) + '&originalcontent=' + encodeURI(document.getElementById('originalcontent').value) + '&commit_message=' + document.getElementById('commit_message').value" )}
