//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

.tag{ :id => "div_suites_of_script", :style=>"left: 30%; height:280px; width:500px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"div_suites_of_script"}  
  %h3
    =_('Suites containing this script:')
    =truncate(circuit_name.capitalize, :ommision => "...", :length => 60)
  -if suites.empty?
    %br
    %br
    %br         
    %h2{:style=>"text-align:center;"}
      %i
        =_('This Script not belong to any Suite')
  -else   
    %ul{:style=>"max-height:200px;overflow:auto;margin-left:10px;width:95%;"}
      -suites.each do |suite|
        %li{:title=>suite.name.capitalize,:style=>"color:#31576F;"}
          =truncate(suite.name.capitalize,:ommision => "...", :length =>75)
