.main{:style=>"padding-top:50px;"}
  %div{:style=>"width:270px;float:left;padding-top:50px;padding-left:50px;"}
    %img{:src => "/images/errors/alerta.png", :alt=>"alerta.png", :style=>"width:245px; height:260px;"}
  %div{:style=>"width:400px;float:left;margin-top:100px;"}
    %div{:style=>"color:#e33a3a; font: 14px bold sanas-serif; border: 2px solid #e33a3a; -moz-border-radius: 20px; padding:20px; margin-left:100px; text-align:left;min-height:150px;"}
      =_('The loaded Script Contains Errors:')
      %br
      %br
      %dt
        =_('LINE:')
        =h @linea
      %br
      %dt
        ERROR:
        =h @error
  %div{ :style=>"clear: both"}