//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

%script

  function checkrequired() {
  var pass=true;
  clean = document.getElementById("clean");
  circuit_name = document.getElementById("circuit_name");
  circuit_description = document.getElementById("circuit_description");
  fileUpload          = document.getElementById("file_upload");
  if (circuit_name.value=='' )  {alert('#{_('Must complete Name Field')}');pass=false;}
  else if (circuit_description.value=='') {alert('#{_('Must complete Description Field')}');pass=false;}
  else if (fileUpload.value=='' && clean.checked == false){alert('#{_('Must select a Script to Upload')}');pass=false;}
  return pass;
  }

  function change_clean_script(clean_checked) {
  file = document.getElementsByName("fileUpload");
  if (clean_checked == true){
  file[0].disabled = "false";
  }
  else{
  file[0].disabled = "";
  }
  }

.main
  %h1{:title=>@category.name, :style=>"margin-left:40px;"}
    =_('New Script for: ')
    =truncate(@category.name, :ommision => "...", :length => 30)

  -form_for(:circuit, :id => "form1", :method=>:post, :url => project_circuits_path(@category.project_id), :enctype => "multipart/form-data", :onSubmit => "return checkrequired()" ) do |f|
    .form_tag{ :style=> 'width30%;float:left;margin-left:40px;padding:20px;'}
      %p
        %label{:for => 'name'}
          =_('Name')
        %input{ :id=>"circuit_name", :name => "name", :type => "text", :style=>"width:250pxpx;"}
      %p
        %label{:for => 'description'}
          =_('Description')
          %br
          %input{ :id=>"circuit_description", :name => "description", :type => "text", :style=>'width:300px;'}
      %p
        %label{:for => 'category', :style => "display:none"}
          =text_field 'new', 'category', :value=> @category.id
      %p
        %label{:for => 'upload'}
          =_('File')
          %br
          %input{ :id=>"file_upload", :name => "fileUpload", :type => "file" }
          -if @exist
            -page.visual_effect(:toggle_appear, "div_exists")
      %p
        %label{:for => 'clean'}
          =check_box_tag 'clean', '1', false, {:onclick => "change_clean_script(this.checked);"}
          =_('Create Empty Script')
          %br
          %br
      .form_button{:style=>"margin-right:0px;"}
        =submit_tag _('Create')

    .form_tag{ :style=>"float:left;margin-left:40px; width:40%;"}
      %h2{:style=>"font-size:16px;"}
        =image_tag("icons/script.png", :alt=>"script", :title=>"Script", :style=>"width:20px; height:20px;")
        Script
      %p{:style=>"margin:20px;"}
        %i
          =_("An")
          %b
            Script
          =_("is an Automated Test.")
          %br
          =_("To use data variables to make repeated test, may accompany with a")
          %b
          =_("Data Set")
          =image_tag("icons/case.png", :alt=>"case", :title=>"Case")



