.main
  -remote_form_for :circuit, :url => { :controller => "circuits",:action => 'rename_save'}, :update => "errors" do |t|
    =text_field 'circuit', 'category_id', :value=>  @category.id, :style => 'display:none;'
    =text_field 'circuit', 'name', :value=>  @name, :style => 'display:none;'
    =text_field 'circuit', 'description', :value=>  @description, :style => 'display:none;'

    %h2
      =_('Define Names for')
      =@name
      .form_button
        = submit_tag _('Crear')
      %div{:id => "errors"}
        =render :partial => "errors", :locals => {:errors => nil, :circuit_id => nil}

    %table.detail{ :style=>"width:70%;margin: 20px auto;"}
      %tr
        %th.d
          =_('Input Value')
        %th.d
          =_('Field Name')
      -@fields.each do |field|
        %tr
          //if @fields have checks or radio, must show values or name
          %td{:title=>field}
            =truncate(field, :ommision => "...", :length => 40)
          %td
            =text_field 'save',CGI.escape(field), :class=>"input_value"

    %div{:style=>"width:70%;margin:auto;"}
      %i
        %b
          =_('Note:')
          =_('Incomplete Fields will not be considered')



