//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

%style
  \.main h3{
  margin-bottom:15px;
  margin-top:20px;
  }

  \.main li{
  margin-bottom:3px;
  list-style-image: url(/images/icons/toggle-expand-dark.png);
  }

%h1{:style=>"font-size:18px;"}
  %img{:src => "/images/icons/ruby-icon2.png", :alt=>"ruby-icon2.png", :style=>"width:48px; height:48px;"}
  Ruby

.main
  %h3{:style=>"color:#4F5DD5"}
    =_('About Ruby')

  %dd
    %li
      =link_to _('Home Page'),'http://www.ruby-lang.org/es/', :popup => true
    %li
      =link_to _('20 minutes with Ruby'),'http://www.ruby-lang.org/es/documentation/quickstart/', :popup => true
    %li
      =link_to _('First steps'),'http://rubytutorial.wikidot.com/introduccion', :popup => true

  %h3{:style=>"color:#4F5DD5"}
    =_('Regular Expressions')
  %dd
    %li
      =link_to _('Console'),'http://www.rubular.com/', :popup => true
    %li
      %a{:onClick => "Effect.toggle('expresion_table','blind',{});", :style=>"text-decoration:underline; cursor:pointer;"}
        =_('Character Table')
      .div{:id=>'expresion_table',:style=>"display:none;"}
        =render :partial => 'expression_table'

  %h3{:style=>"color:#4F5DD5;margin-bottom:5px;"}
    =_('Common Classes')
  %br
  %dd
    %li
      =link_to ' String','http://ruby-doc.org/core/classes/String.html', :popup => true
    %li
      =link_to ' Array','http://ruby-doc.org/core/classes/Array.html', :popup => true
    %li
      =link_to ' Hash','http://ruby-doc.org/core/classes/Hash.html', :popup => true
   

    
    




