.main
  %h1{:style=>"color:#4F5DD5; font-size:20px;float:left;width:100px;margin:5px auto 10px;"}
    Scripts    
  %h3
    =_('A script is an automated test.')             
  =render :partial => "script_tutorial"
  