=render :partial=>'css'

%body
  %table.header{:style=>"width:500px;margin-top:20px;"}
    %tr
      %td{ :style=>'width:300px;font-size:16px;text-align:center;font-weight: bold;'}
        Cacique 
        %div{:style=>"font-size:15px;font-weight:normal;"}
          Password recovery
      %td{:style=>"padding:20px 0px;width:250px;"}
        %div{:style=>"margin:auto; width:200px;"}
          Retrieve your password here:
          %div{:style=>"margin-left:20px;"}
            =link_to "Change your password!",  @url 


