<div style="margin: 0pt auto; background: #293484 none repeat scroll 0% 0%; min-width: 500px; height: 40px; float: left; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; -moz-border-radius:10px; font-size: 40px; color: white;padding:10px; padding-left:20px">
          Cacique
</div>
<br><br><br><br>

<div style="width:600px; padding:10px;">

<b style="font-size: 20px; color:#293484; font-family:sans-serif; font-size:14px; font-weight:bold;">
Su password fue modificado</b>
<br>

<div  style="color:#293484;font-size:16px; margin-left:20px; margin-top:10px;">
Los nuevos datos de su usuario son:
</div>
<ul style="color:#293484;font-size:16px;margin-top:10px;">
  <li> Usuario  = <%= @user.login %></li>
  <li> Password = <%= @user.password %></li>
</ul>


</div>