%h1
  =_("Summary")

%div{:style=>"width:300px; float:right;"}
  %h2
    Total Scripts:
    %e{:style=>"color:grey; font-weight:normal;"}
      =@tot_scripts
  %h2
    Total Suites:
    %e{:style=>"color:grey; font-weight:normal;"}
      =@tot_suites

-form_tag({:url=>"/graphs/graph"}, {:id=>"form_graph"}) do |f|
  %h2
    Scripts
    =radio_button_tag  'view', 'Scripts', true, :onClick => remote_function(:complete => visual_effect(:toggle,'show_graph'),:update => "show_graph",  :method => "get",  :url => { :controllers => :graph, :action => :graph},:submit => "form_graph")
    |
    =_('Executions')
    =radio_button_tag  'view', _('Executions'), false, :onClick => remote_function(:complete => "#{visual_effect(:toggle,'show_graph')};fdTableSort.initEvt();",:update => "show_graph",  :method => "get",  :url => { :controllers => :graph, :action => :graph},:submit => "form_graph")
    %br
    %br
    =_('Select Year')
    =select("year", "", @years, {:include_blank => _("- Select -")},  :onchange => remote_function(:complete => visual_effect(:toggle,'show_graph'),:update => "show_graph",  :method => "get",  :url => { :controllers => :graph, :action => :graph},:submit => "form_graph") )

.div{:id=>"show_graph", :style=>"margin-left:40px;"}
  =render :partial => "show_graph"

