-javascript 'suite_program.js'
%script
  jQuery(window).bind("load", function(){
  $j('.calendar_options').change(function(){
  $j('.program_calendar').hide();
  $j( '#' + $j('.calendar_options:checked').val()).show();
  });
  })

%div{:style=>"width:95%; float:left;"}
  %h2{:style=>"color:#373737;"}
    =_('Schedules')
  .form_tag 
    //RANGE  
    %div{:style=>"width:80px; float:left;color:#848484;"}
      =radio_button_tag "program[range]","today",true,{:onclick=>"CCQUI.show_and_hide('#repetitions_and_init_date,#one', '#extended,#frecuency,#cron');"}  
      =_('A Day')
    %div{ :style=>"width:80px; float:left;margin-bottom:10px;color:#848484;"}
      =radio_button_tag "program[range]", "extend", false, {:onclick=>"CCQUI.show_and_hide('#repetitions_and_init_date,#frecuency,#extended', '#one,#cron');" } 
      =_('Range')
    %div{ :style=>"width:80px; float:left;margin-bottom:10px;color:#848484;"}     
      =radio_button_tag "program[range]", "alarm", false, {:onclick=>"CCQUI.show_and_hide('#cron', '#repetitions_and_init_date,#frecuency,#extended, #one');"}
      =_('Alarm')   
    %div{ :style=>"border-top:1px solid #C3C3C3;clear: both;margin-bottom:10px;"}
    
    //DATES ONE          
    #one
      %label{ :style=>"float:left;color:#848484;"}
        =_('Date')
      =calendar_date_select_tag "program[one_date]", @init_date.strftime("%d.%m.%Y"),:size=>12 , :popup => :force, :valid_date_check => "date > (new Date()).stripTime()", :year_range => DateTime.now..(DateTime.now >>24), :style=>"text-align:center;margin-left:10px;"
 
    //DATES EXTENDED 
    =render :partial =>"context_configurations/dates_extended"    

    //REPETITIONS
    =render :partial => "context_configurations/repetitions_and_init_date"

    //FRECUENCY    
    =render :partial =>"context_configurations/frecuency"                   
 
    //CRON    
    =render :partial =>"context_configurations/cron"   
     
    %div{ :style=>"clear: both"}                  

        
        
