.form_tag{:style=>"width:400px;float:left;text-align:left;"}
  %b
    =_('View Type')
  %br
  =_('Defined if the implementation panel for this new configuration can be selected:')
  %br
  =_('None, one or more options')
  %br
  =_('(Ex: Radiobutton forces to select a single option, Checkbox allows multiple selection or no selection)')
  
.form_tag{:style=>"width:400px;float:left;text-align:left;margin-top:20px;"}
  %b
    =_('Images')
  %br
  =_('If you add images to format ')
  %i
    \.png
  =_('into the folder')
  %i
    \/public/images/specific
  =_('for each value entered in the configuration and with the same name,')
  =_('when viewing the execution, will these images rather than the values used.')
  %br
  =_("(Ex: If the configuration is ")
  %i
    browser
  =_(" will print the selected browser version with an icon.)")