//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

-javascript 'suite_execution_emails'


//Environment
%h2{:style=>"color:#373737;"}
  =_("General")
.form_tag{:style=>"color: #848484;"}
  %h3{:style=>"color:#848484; text-decoration: underline;"}
    =_("Execution Evironment")
  -if user_configuration.remote_control_mode == "hub"
    %input{ :id => "execution_remote_control_mode_hub", :type => "radio", :value => "hub", :name => 'execution[remote_control_mode]', :onClick => "document.getElementById('direccion_rc_mode').hide();", :checked => "checked"}
  -else
    %input{ :id => "execution_remote_control_mode_hub", :type => "radio", :value => "hub", :name => 'execution[remote_control_mode]', :onClick => "document.getElementById('direccion_rc_mode').style.display = 'none'"}
  =_("Automatic")
  %br
  -if user_configuration.remote_control_mode == "rc"
    %input{ :id => "execution_remote_control_mode_rc", :type => "radio", :value => "rc", :name => 'execution[remote_control_mode]', :onClick => "document.getElementById('direccion_rc_mode').hide();", :checked => "checked"}
  -else
    %input{ :id => "execution_remote_control_mode_rc", :type => "radio", :value => "rc", :name => 'execution[remote_control_mode]', :onClick => "document.getElementById('direccion_rc_mode').style.display = ''"}
  Manual
  %div{ :id => "direccion_rc_mode", :style => ( user_configuration.remote_control_mode == "rc" ? "" : "display: none;margin-top:10px;" )  }
    %label{:style=>"float:left; width: 70px;color:#848484;"}
      =_("Port:")
      =text_field "execution", "remote_control_port", :value => user_configuration.remote_control_port.to_s, :style => "width: 50px;"
    %label{:style=>"float:left; width: 90px;color:#848484;"}
      =_("Host or IP:")
      =text_field "execution", "remote_control_addr", :value => user_configuration.remote_control_addr.to_s, :style => "width: 80px;"
    %div{ :style=>"clear: both"}

  //Debug mode
  %h3{:style=>"color:#848484; text-decoration: underline;"}
    =_('Debug Mode')
  %label{:style=>"color:#848484;"}
    -if !user_configuration.nil? and user_configuration.debug_mode
      =check_box_tag "execution[debug_mode][]", "true", true
    -else
      =check_box_tag "execution[debug_mode][]", "true", false
    =_('Debug Mode')

  //Send mail
  %h3{:style=>"color:#848484; text-decoration: underline;margin: 10px 0 0;"}
    =_("Send Mail")
  -show_emails_ok   =  (!@user_configuration.nil? and @user_configuration.send_mail_ok)   ? 'inline' : 'none'
  -show_emails_fail =  (!@user_configuration.nil? and @user_configuration.send_mail_fail) ? 'inline' : 'none'
  %label{:style=>"color:#848484;"}
    =check_box_tag "execution[send_mail_ok]",true, (!@user_configuration.nil? and @user_configuration.send_mail_ok), {:onclick => "$j('#execution_emails_to_send_ok').toggle();"}
    =_("Success")
    =text_field "execution", "emails_to_send_ok", :value => current_user.email, :style =>"display:#{show_emails_ok}; margin: 5px 20px;width:85%;"
  %label{:style=>"clear:both;color:#848484;"}
    =check_box_tag "execution[send_mail_fail]",true, (!@user_configuration.nil? and @user_configuration.send_mail_fail), {:onclick => "$j('#execution_emails_to_send_fail').toggle();"}
    =_("Error")
    =text_field "execution", "emails_to_send_fail", :value => current_user.email, :style =>"display:#{show_emails_fail};margin: 5px 20px;width:85%;"
%div{:style=>"clear:both;"}
 
