%div#cron{:style=>"display:none;margin-top:10px;color:#848484;"}
  =_('Command:')
  %br
  %label{:style=>" margin-left:10px;color:#373737;"}
    =text_field "program", "cron", :style => " margin-left: 10px; width: 75%;"