//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//


.tag{:id => "execution_config", :name => "execution_config", :style=>" left: 25%;min-width: 52%; width:auto; padding-bottom:10px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"execution_config"}  
  %h3
    =_('Execution Panel')
  - remote_form_for :execution, :url => '/executions/save_execution_config', :html=>{:style=>"width:auto;"}, :complete => "document.getElementById('execution_panel').style.display='none';" do
    %div{:style=>'max-height:300px;;overflow:auto;margin:0 auto;'}
      -(column_1.empty? or column_2.empty?) ? (style_1 = 'width:48%;float:left;'; style_2='width:48%;float:left; margin-left: 3%;')  :(style_1 = 'width:60%;float:left;'; style_2='width:38%;float:left; margin-left: 1%;')   
      %div{:style=>style_1}
        =render :partial => 'context_configurations/variable_config', :locals => {:column_1 => column_1, :column_2 => column_2 }
      %div{:style=>style_2}
        =render :partial => 'context_configurations/constant_config', :locals => {:user_configuration => user_configuration }
    %div{ :style=>"clear: both"}
    .form_button{:style=> "margin: 1.5% 0;"}
      =submit_tag _('Save')
  %div{ :style=>"clear: both"}
