%div{:style=>"width:90%height:20px;"}
  %label{:for => "identifier", :style=>" margin-left:10px;color:#373737;"}
    ID:
    =text_field "execution", "identifier", :style => " margin-left: 10px; width: 75%;", :maxlength=>"50"

