%div#repetitions_and_init_date{:style=>"display_none;border-top:1px solid #C3C3C3;clear: both; margin-top:10px;"}    
  %label{:style=>"margin-top:10px;color:#848484;"}
    =_('Start Time')
    %input{:name=>"program[init_hour]", :value=>(@init_date + 10*60).strftime("%H:%M"),:style=>"width:50px;text-align:center"} 
    Hs.                   
  //REPEAT    
  %label{:style=>"margin-top:10px;color:#848484;"}
    =_('Daily repetitions')
    %input#repeat{:name=>"program[runs]",:value=>"1", :style=>"width:30px;text-align:center;", :onkeyup =>"change_repeat($j(this).val())"}
      (Max. 500)
  #range_repeat{:style=>"display:none;"}
    = select "program", "range_repeat", @range_repeat,{},{:onchange=>"change_select_range_each($j(this).val())",:style=>"float:left;margin: 5px 5px 0 0;"}
    #each{:class=>"range_each",:style=>"margin-top:5px;float:left;width:100px;"}   
      %input{:name=>"program[per_each]",:value=>"1", :style=>"text-align:center;float:left;width:30px;margin: 0 5px 0 0;"} 
      = select "program", "each_hour_or_min", @each_hour_or_min,{},{:style=>"float:left;"}
    %div{ :style=>"clear: both"}
    //SPECIFIC  
    .form_tag#specific{:class=>"range_each",:style=>"display:none;margin-top:5px;max-height:100px; overflow:auto;"} 
      //Must be complete by js, function: specific_hours() 
    %div{ :style=>"clear: both"}  