%div{:style=>"width:200px;margin-top:10px;height:20px;"}
  %label{:for => "cant_corridas", :style=>"width: 150px;margin-left:10px;"}
    =_('Repetitions:')
    =text_field "execution", "cant_corridas", :value => "1", :style => "width: 25px;text-align:center;"