%script
  function submitFormSuiteExec(action){
  form = document.getElementById('form_to_run_suite');
  form.action = action;
  form.submit();
  }

%h2{:style=>"color:#288EB1;margin-top:10px;color:#373737;"}
  =_('Execution')
.form_tag{:style=>"margin-bottom:10px;"}
  =render :partial=>'context_configurations/identifier'

