%script
  function submitFormSuiteExec(action){
  form = document.getElementById('form_to_run_suite');
  form.action = action;
  form.submit();
  }

%h2{:style=>"color:#373737;"}
  =_('Execution')
.form_tag
  =render :partial=>'context_configurations/identifier'
  =render :partial=>'context_configurations/repetitions'
=render :partial=>'context_configurations/suite_extra_config', :locals => {:suite_id => @suite.id, :command=>@command}
