%script
  function submitFormSuiteExec(action){
  form = document.getElementById('form_to_run_suite');
  form.action = action;
  form.submit();
  }

%div{:style=>"width:200px; float:left;padding: 10px;"}
  %h2{:style=>"color:#288EB1;margin-top:10px;"}
    =_('Execution')
  .form_tag
    =render :partial=>'context_configurations/identifier'

