//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
-width_column =  (column_1.empty? or column_2.empty?) ? "100%" : "45%"
-if !column_1.empty?
  %div{:id=>"column_1",:style=>"float:left;width:#{width_column};"}
    -column_1.each do |context_configuration|
      %div{:style=>"text-align:left;", :valign=>"top"}
        %label{:for => context_configuration.name}
          %h2{:title=>context_configuration.name.capitalize,:style=>"font-size:12px; color:#288EB1;"}
            =truncate(context_configuration.name.capitalize, :ommision => "...", :length => 26)
          .form_tag{:style=>"max-height:180px; overflow:auto;padding:5px; margin-bottom:10px;"}
            =render :partial => 'context_configurations/variable_config_types', :locals => {:context_configuration => context_configuration}
      %div{ :style=>"clear: both"}
-if !column_2.empty?
  %div{:id=>"column_2", :style=>"float:left;width:#{width_column};margin-left:5%;"}
    -column_2.each do |context_configuration|
      %div{:style=>"text-align:left;", :valign=>"top"}
        %label{:for => context_configuration.name}
          %h2{:title=>context_configuration.name.capitalize,:style=>"font-size:12px; color:#288EB1;"}
            =truncate(context_configuration.name.capitalize, :ommision => "...", :length => 26)
          .form_tag{:style=>"max-height:180px; overflow:auto;padding:5px; margin-bottom:10px;"}
            =render :partial => 'context_configurations/variable_config_types', :locals => {:context_configuration => context_configuration}
      %div{ :style=>"clear: both"}   
