%table.detail.special
  %caption
    -#Alams
  %thead
    %tr.special
      -if crons.empty?
        %td
          =_('Without Schedule')      
      -else      
        %td.very_small
          =check_box_tag 'all', '0', checked = false,  { :id=>'check_all'}
        %td.small
          =_("Project")   
        %td.medium
          =_("Suite")                  
        %td.small
          =_("Programmed by")  
        %td.small        
          =_('Month')   
        %td.small{:title=>_('Day of month')}      
          =_('Day')
        %td.small         
          =_('Hour')                             
        %td.small
          Min
        %td.small            
          =('Day of week')        
        %td.medium
          =_('Identifier')
  %tbody 
    -form_for :task_programs,:url=>{:controller=>:task_programs,:action=>:destroy},:html=>{:id=>'form_delete'}  do                     
      -crons.each do |cron|
        -task_program = cron.task_program
        %tr 
          -#Checkbox 
          %td
            -enabled = !(current_user.has_role?("root") or task_program.user_id == current_user.id)
            =check_box_tag 'id[]', task_program.id, false, :disabled=>enabled, :class=>"check_cron"
          -#Project
          %td{:title=>task_program.project.name}
            =truncate( task_program.project.name, :ommision => '...', :length => 60)    
          -#Suites        
          %td
            =render :partial=>'task_programs/suites', :locals=>{:task_program=>task_program}
          -#User
          %td{:title=>task_program.user.name}
            =truncate( task_program.user.name, :ommision => '...', :length => 20)  
          -#Frecuency               
          =render :partial =>'frecuency', :locals=>{:cron=>cron}
          -#Identifier
          %td{:title=>task_program.identifier}
            =truncate( task_program.identifier, :ommision =>'...', :length => 20)                                

        
         