#wrapper{
	margin: 0 auto;
	min-height: 760px;
	min-width: 1008px;
	height:100%;
	width:100%;
}

/************************* Body ******************************/
body {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-size: 12px;
	font-family: sans-serif;  
	color: #8F8F8F;
	overflow:hidden;
	height:100%;
	width:100%;
}


.content{
	min-height: 400px;
	overflow: auto;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom:3%;
  padding-bottom:2.5%;
  font-size: 12px;
  float:right:
}

.main {
  width: 98%;
  height:85%; 
  padding:1.5% 2%;
  font-family: sans-serif;
}

.column {
  float:left;
  width:30%;
  margin-left:13px;
  padding:10px;
 }

h1 {
  margin: 0 auto;
  letter-spacing:1px;
  font-size: 14px;
  font-weight: bold;
  color: #373737;
  margin-bottom:15px;
  margin-top:10px;
  font-family:sans-serif;  
  text-align:left;
}

h2 {
  width:95%;
  margin: 0 auto;
  margin-top:5px;
	font-size: 12px;
  font-family:sans-serif;
  color: #626894;
  line-height: 20px;
}

h3 {
	font-size: 12.5px;
  font-family:sans-serif;
  color: #4F5DD5;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

a {
  color:#373737;
  font-weight: bold;
  font-family:sans-serif;
  font-size: 12px;
}
.image {
	float: left;
	margin: 0 20px 0 0;
}

.new {
	font-size: 14px;
	font-weight: normal;
  color: #31576F;
  text-align:right;
  font-weight:normal;
}


input{ 
   font-size:11px;
}

input.btn { 
   cursor:pointer;
   font-size:11px;
   padding:3px;
   cursor:pointer;  
}

select{
   font-size:11px;
 }  
/************************* Head *******************************/


.header_main {
 width:220px;
 background:#288EB1;
}

.header_option{
	width: 300px;
	color: #e5e5e5;
	float: right;
 	margin: 103px 5px 0px 5px;
}

.header_main * {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

.header_main a {
	display: block;
	float: left;
	height: 25px;
	background: #ABBA47 url(/images/img3.gif) repeat-x;
	text-decoration: none;
	font-weight: bold;
  text-transform: capitalize;
  text-align: left;
}




/************************* Formularios ******************************/

.form_tag{
  -moz-border-radius:5px;
  border:1px solid #C3C3C3;
  padding:10px;
  color:#31576F;
}


.form_tag p i{
 line-height: 180%;
 text-align:left;
}

.form_tag_flap{
 -moz-border-radius:10px 10px 0px 0px;
  border:1px solid #C3C3C3;
  border-bottom:0px;
  padding:5px;
  text-align:center;
}

.form_button{
  float:right;
  margin-right:40px;
  -moz-border-radius:5px;
  border:1px solid #C3C3C3;
  color:#31576F;
}

.form_button input{
  cursor:pointer;
  }
.registration {
  text-align: left;
	margin: 0 auto;
  margin-top: 30px;
}

.registration form {
  margin: 0 auto;
  width:60%;
  text-align: left;
  font: 12px sans-serif; 
  color: #31576F;
}
.registration select {
  width:100px;
}

.help_menu{
  border: #DADADA dotted;
  margin-right: 30px;
  width: 190px;
  float:right;
  font-size: 13px;
  background:#E3E1E1;
  font-style: italic;
  text-align: left;
  padding:5px;
}

.help_menu p{
  font-size: 13px;
  text-decoration: none;
  float: right;
}

.login {
  float:left;
  -moz-border-radius:50px;
  border:20px solid #338DCF;
  background:#FFFFFF;
  width: 600px;
  margin:0 auto;
  padding:30px;
  margin:8% 23% 4%;
  color:#373737;
  font-size:14px;
  font-weight:bold;
}

.login form{
  width:42%;
  float:left;
}

.login label{
  margin:3% 0;
  color:#373737;
  font-size:14px;
  font-weight:bold;
}

.login .volver{
  float:right;
}

label {
  display: block;
  text-align: left;
  size:30px;
  color:#31576F;
  font-size:12px;
}

.div_circuit{
  height: 50px;
  padding: 9px;
}
.div_circuit p{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    border-top: #8F8F8F 0.5px solid;
    margin-top: 15px;
}
.div_circuit a{
  text-indent: 0px;
  padding-left:0px;
  padding-bottom: 3px;
  font-weight:bold;
  text-decoration:none;
  font-size:12px;
}

.option_circuit{
  padding-top:3px;
  height: 27px;
  width: 66px;
  float:right;
}

.small_img{
  height: 25px;
  width: 25px;
  border: 0;
}

/*---Edit en case template--*/
div.row {
  clear: both;
  padding-top: 5px;
  }

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  font: 14px Helvetica, Arial, sans-serif;
  padding-right: 50px;
  padding-left: 50px;
  }

div.row span.formw {
  width: 235px;
  text-align: left;
  } 
 
legend {
  font-size:  1.4em;
  font-weight:  bold;
  position:  relative;
  top:  -.4em;
}
 
 

.tabs{
  text-align:right; 
  margin-top: 4px; 
  height: 8%;
  margin-top:30px;
}
 
.t_tab{
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  border-bottom:none;
  width:33%;
  height: 100%;
  float:left;
  background:#FFFFFF;
  text-align:center; 
  margin-bottom: 0px;
  padding-top:8px;
  cursor:pointer;
}

 
.tab{
  width:310px;
  height:100px;  
  float:left;
  margin-top:0px;
  background:#FFFFFF; 
  font: 12px sans-serif;
  -moz-border-radius:10px;
  padding:10px;
  padding-left:30px;
  padding-top:30px;
  position: relative; 
}

.tab label{
  margin-bottom:10px;
}
/************************* Logout ******************************/

.logout{
  font: bold 20px Helvetica, Arial, sans-serif;
  background-color: #397595;
  width:300px;
  height:150px;
  text-align: center;
  color:white;
  margin-left:500px;
  margin-top:100px;
}

/********************** Error **********************************/


.errors{ /* cuando no estas logueado */
	color: red;
	font-size:10px;
	margin: 0 auto;
	width: 500px;
	text-align: center
}

.notices{ /* cuando estas logueado */
	color: green;
	font-size:10px;
	margin: 0 auto;
	width: 500px;
	text-align: center
}

.fieldWithErrors { /* te colorea los campos con error */
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation { /* la explicacion de los errores */
  width: 400px;
  border: 1px solid red;
  background-color: #FBEFFB;
  -moz-border-radius:10px;
  padding:5px;
  margin:0 auto 10px;
}

.form_show_errors #errorExplanation { /* la explicacion de los errores en suite */
  width: 250px;
  text-align:left;
  border: 1px solid red;
  background-color: #FBEFFB;
  -moz-border-radius:10px;
  padding:5px;
  margin:0 auto 10px;
}


#errorExplanation h2 { /*titulo de la explicacion*/
  text-align: left;
  font-weight: bold;
  padding: 5px;
  font-size: 13px;
  background-color: #c00;
  color: #fff;
  -moz-border-radius:8px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 3px;
  font-size:12px;
}

#errorExplanation ul li {
  font-size: 12px;
  font-weight:normal;
  list-style: square;
  margin-left: 20px;
  margin-bottom: 5px;
  color:#333333;
}
/********************** Home Bender *********************************/

.home_cacique{
   font-weight:bold; 
   margin: 30px auto;
}

.home_cacique i{
   font-size: 20px;
   text-align:left;
   font-family:Lucida Casual;
   font-weight:normal;
   color: #373737;
   padding:20px;
}

.home_cacique ul{ 
   list-style-image: url(/images/icons/item.png);
   }

.home_cacique li {
  margin-bottom:15px;
  text-align:left;
}


.home_cacique li a{
  text-decoration:none;
}

.home_cacique .tag{
  position:static;
}

.cacique_credits {
  border:1px solid #C6C5C4;
  display:none;
  padding:10px;
  -moz-border-radius:5px;
  margin:20px 0 auto;
}

.tag .cacique_credits p{
  text-align:center;
  font-style:italic;  
  font-variant:small-caps;
  height:auto;
  color:#293484;
}

.cacique_credits ul{
  margin:20px auto;
  width:150px;
  list-style-image: url(/images/icons/item.png);  
} 

.cacique_credits li{
  margin-bottom:15px;
}
.cacique_credits li a{
  text-align:left;
  font-variant:small-caps;
  font-weight:normal;
  text-decoration:none;
  margin-bottom:12px;
}

#cacique_about p{
  text-align:center;
  clear:both; 
  height:auto;
  color:#293484;
  font-variant:small-caps; 
  overflow:none;
}

#cacique_about p a{
  text-decoration:none;  
}

#cacique_about h3{
  text-align:center;
  font-variant:small-caps;
  color:#293484;
  font-size:15px; 
}

/**********************POPUPS********************/

.tag{
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/images/background/home_tag.gif) repeat-x scroll;
  border:1px solid #C3C3C3;
  margin-bottom:20px;
  padding:5px 20px 5px 20px;
  width: 300px;
  text-align:left;
  -moz-border-radius:10px;
  position:fixed;
  left: 35%; 
  top:20%;
  z-index:3;
}

.tag h3{
  text-align:center; 
  color:#373737;
}

.tag label{
  font-size:12px;
  color:#31576F;
}

.tag p{
  height:85%;
  width:98%;
  overflow:auto;
  font-size:12px;
}

.info{
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:transparent url(/images/background/home_tag.gif) repeat-x scroll;
  border:1px solid #C3C3C3;
  margin-bottom:20px;
  padding:5px 20px 5px 20px;
  width:50%;
  height:70%; 
  text-align:left;
  -moz-border-radius:10px;
  position:fixed;
  left: 22%; 
  top:20%;
  z-index:3;
}


.infoData{ 
  margin-top:17px;
  color:#333333;
  overflow: auto;
  background:#ffffff; 
  padding:10px;
  padding-left:30px;
  position: relative; 
  margin:5px auto 0;
  -moz-border-radius:10px;
  overflow:auto;
  height:85%; 
}

.info h2{
  color:#31576F;
  font-family:sans-serif;
  margin-left:0px;
  text-align: center; 
  font: 14px sans-serif;
}


.infoData h2{
  font-size:16px;
  margin-left:0px;
  color:#333333;
}

.infoData h3{
  font-size:14px;
  margin-left:0px;  
  margin-bottom:10px;
  padding:2px; 
  color:#293484;
}

.infoData  img{
  margin-left:10px;
  margin-right:5px;
}

.infoData  p{
  font-size:13px;
  margin-bottom:20px;
}


.infoData  dd{
  font-size:13px;
  text-align:left;
}


.infoData  b{
  color:#2C4B9B;
}


/********************** Table *********************************/

table.general {
  margin: 0 auto;
  width: 95%;
}

table.general tr {
  color: #668AA2;
  cursor:pointer;
}

table.general tr.oddRow { 
  background-color:#E6E6E6; 
  }
table.general tr.evenRow { 
  background-color: #F7F7FA; 
  }

 table.general tr:hover{
  background:#BDBDBD;
}
 
table.general th {
	background: url(/images/icons/bar_tag.png);
  color:#F0FFF0;
  font-size:11px;
  text-align:center;
  font-family:sans-serif;
  padding:3px;
  padding-left:8px;
  padding-right:8px;
  height:25px;
}
table.general th a{
  color:#F0FFF0;
  font-size:11px; 
  text-decoration:none;
}

table.general th.def {
	background: url(/images/icons/bar_tag_default.png);
  color:#F0FFF0;
  font-size:11px;
  text-align:center;
  font-family:sans-serif;
  padding:3px;
  padding-left:8px;
  padding-right:8px;
  height:25px;
}
table.general th.def a{
  color:#F0FFF0;
  font-size:11px; 
  text-decoration:none;
}

table.general td{
  font-family:sans-serif;
  font-size:11.3px;
  height:20px;
  padding: 4px;
  padding-left:5px;
  padding-right:5px;
  color:#373737;
}


#table{
	margin: 0 auto;
	width: 600px;
  empty-cells: show;
}
#table th{
  text-align:center;
  background: #ebf5fb;
}

#table tr:hover {
  	background: #f5fafc;
}
#table td{
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

table.home {
  margin: 0 auto;  
  margin-top: 120px;
  margin-left: 10px;
  -moz-border-radius:100px 30px 80px;
  background:#293484;
  border:4px double #288EB1;
  border-collapse:separate;
  padding:5px;
}

table.homein {
  padding:30px 30px 30px 40px;
  width: 500px;  
  background:#FFFFFF;
  margin: 0 auto; 
  -moz-border-radius:100px 30px 80px;
}

table.homein tr{
  padding:59px 5px 5px 20px;
  width: 600px;  
  height: 50px;
  background:#FFFFFF;
  margin:3px;
  -moz-border-radius:100px 30px 80px;
}

table.homein th{
  margin:3px; 
  width: 30%;
  color: #31576F;
}

table.homein td{
  margin:3px;
  width: 50% 
}


table.homein td li{
  font-family:sans-serif;   
  font-weight:lighter; 
  font-weight:bold; 
  font-size:11px; 
  color:#8F8F8F;
  text-align:left;
}




/************************** EXECUTIONS ***************************/
.div.executions_header{
  height:27px;
  margin-left:10px;
  border-bottom:none;  
}


.div.executions_header .header_item{
   width: 60px;
   height:17px;
   float:left;
   padding: 5px;
   padding-left:10px;
   color:#ffffff;
   font: 12px sans-serif;
   font-weight:bold;
   text-align:center;
}

.div.executions_header .header_item img{
   display: block;
   margin: auto;
}



table.detail{
  margin: 5px;
  width:100%; 
  border-collapse:collapse;
  clear:both;
  border:1px solid #336699;
}

table.detail th{
	background: #336699;
  color:#ffffff;
  padding:5px;
  font-family:sans-serif;
  font-size:11px;
  font-weight:bold;
  text-align:center;
}

table.detail th a{
  color:#ffffff;
  font-family:sans-serif;
  font-size:11px;
  font-weight:bold;
}


table.detail th.d{
	background: #626894;
  color:#ffffff;
  padding:5px;
  font-family:sans-serif;
  font-size:11px;
  font-weight:bold;
  text-align:center;
}



table.detail td{
  color:#848484;
  padding-bottom:5px;
  font-family:sans-serif;
  font-size:11px;
  text-align:left;
  text-align:center;
  border:1px solid #D2D2D2;
  padding:4px;
  vertical-align:middle;
} 

table.detail td img{
  border:none;
}

table.detail td.img img{
  border:none;
  width: 12px; 
  height: 14px;
}

table.detail td a{
  cursor:pointer; 
  text-decoration:underline;
  color:#848484;
  font-weight:normal;
}

table.detail tr.oddRow { 
  background-color: #F5F6F7;
  }
table.detail tr.evenRow { 
  background-color: #FDFAFA;
  }
  
table.detail tr:hover{
  background: #D8DCDF;
}


table.detail th.exe { 
	background: url(/images/tables/tag_blue.png);
  color:#ffffff;
  padding:5px;
  font-family:sans-serif;
  font-size:11px;
  font-weight:bold;
  text-align:center;
}


/**************************** pagination ********************/

.qp_counter {
	margin:  10px;
}
a.qp_disabled {
	color: #888;
  text-decoration: none;
}
.pagination{
  margin-left:10px;
  margin-bottom:2px;  
  padding-top:8px;
  width:auto;
  font-weight:bold;
  float:right;
}
.pagination_buttons{
	clear: both;
  text-align:center;
}
.pagination_buttons a{
	text-decoration: none;
}

/********************************* Search **************************/
.buscar{
  float:right;
  width:160px;
  margin-right:30px;
  background: #ffffff;
  border:1px solid  #c1c1c1;
  -moz-border-radius:5px;
  margin-top:1px;
  padding:2px;
}

.buscar input{
  border:medium none;
  color:grey;
}
/*********************Sortable List***************************/

#circuits{
}

#circuits .cases{
  float:left;
}

#circuits li{
  margin-bottom:5px;

}

#circuits .cases b{
  font-size: 14px;
  color:#31576F;
  font-family:sans-serif;
  font-weight:normal;
}  

.suite_cases_edit{
  width:700px;
  height:300px;
}

#suite_cases{
  width:300px;
  float:left;
  height:300px;
  margin-top:0px;
}
.handle{
  cursor: move;
  color: 777;
  font-size 12px;
  padding-right: 5px;
  float:left;
  color:#31576F;
  font-family:sans-serif;
  font-weight:normal;
}

/****************************Suites *********************************/

.even{
  background:#e8e8d8 ;
}
.odd{
  background:#fff;
}
/*general Siute#new*/
.div_suite{
  padding:15px 0;
}

table th.ie, td.options{
  background:#31576F;
}
table th.ff{
  opacity:0.8;
  background:#31576F;
}

table th.chrome{
  opacity:0.6;
  background:#31576F;
}
table th.safari{
  opacity:0.7;
  background:#31576F;
}

/*button*/
.div_button{
  width:160px;
  height:35px;
  background:#288EB1;
  border: #31576F 2px solid;
  -moz-border-radius: 10px;
  margin: 0 auto;
}
.div_button input{
  height:25px;
  width:150px;
  margin-left:5px;
  margin-top:5px;
  cursor:pointer;
}

/*************************** Execution Show *******************************************************/

.execution{
  border: 2px ridge #293484;
  padding: 20px;
  margin: 0 auto;
  margin-top:20px;
  padding-top:0px;
  padding-left:0px; 
  width:900px; 
  -moz-border-radius:20px;
  background:#F2F2F2;
}


.execution .status{
  padding: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top:10px;
 -moz-border-radius:30px;
 width:100%;
}


.execution .action img{
  border:none;
  float:left;
  height:16px;
  width:18px;
}



.execution .text_area{
  width:830px; 
  height: 100px; 
  overflow: auto; 
  font: normal 12px sans-serif; 
  color: #8F8F8F ;  
  border: #8F8F8F 1px solid; 
  padding-left: 10px; 
  -moz-border-radius:10px;
  margin-top:5px;
  margin-left:20px;
  text-align:left;
  line-height: 20px;
  background:#FFFFFF;
}

.div_suite_circuit{
  width:70%;
  margin:0 auto;
  margin-top:20px;
  font: bold 14px sans-serif;   
  color:#293484;
}

.div_suite_circuit b a{
  font: bold 14px sans-serif;   
  color:#4F5DD5;
}

.tab_view{
  width:115px;
  height:20px;
  float:left;
  color:#373737;
  font-size:12px;
  text-align:center;
  padding:5px;; 
  cursor:pointer;
  background:url(/images/menu/menutab.gif);
  opacity:0.5;
}

.tab_view:hover{
  opacity:10;
}

.div_hover{
  -moz-border-radius:5px;
  border:1px solid #C3C3C3;
  padding:10px;
}

.div_hover:hover{
  background:#F5F6F7;
}

.edit_free_table{
  background: #EEEEED;
  padding:12px;
  -moz-border-radius:0px 2px 5px 5px; 
  color:#373737;
  font-size:12px;
  border:1px solid #C6C5C4;
  padding:15px 25px;
  width:96%;
  height: 100%;
}

.edit_table{
  -moz-border-radius:20px;
  -moz-border-radius-topleft:0px;
  padding: 15px 15px 15px 15px;
  height: 50%; 
	margin-left:10%;
	margin-top: 0px;	
	margin: 0 auto;
}


.drag { 
position: relative; 
}

.ubic{
  border:2px solid #31576F;
  overflow: hidden;
  width: 530px;
  height: 300px;
  padding: 10px;
  background: #D1E1E7;
  -moz-border-radius:20px;
  position:fixed;
}

.tabs{
  text-align:right; 
  margin-top: 4px; 
  height: 8%;
  margin-top:5px;
}

.t_func{
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  border-bottom:none;
  width:30%;
  height: 100%;
  float:left;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-align:center; 
  margin-bottom: 0px;
  padding-top:8px;
}

.func{
  width:490px;
  height:240px;  
  float:left;
  margin-top:0px;
  overflow: auto;
  background:#FFFFFF; 
  font: 11px sans-serif;
  -moz-border-radius:10px;
  -moz-border-radius-topleft:0px;
  padding:10px;
  padding-left:30px;
  position: relative; 
}

.functionInfo{
 float:left; 
 margin-right:30px;
 margin-left:20px;
 width:210px; 
 text-align:left;
 font-size:14px;
}

.title{
  font: bold 12px sans-serif;
  color:#31576F;
  margin-bottom:5px;
}


/***************************************  Suites--> Show **************************/
table.relation{
  width:100%;  
  height:100%; 
  margin-top: 10px;
}

table.relation td{
  color:#4F5DD5;
  font-size:12px; 
  text-align: center; 
  width:170px;
  
}

table.relation.in{
  margin: 0 auto;
  border: #8F8F8F 0.5px solid;
  width:100%;
  height:90%;
}

table.relation.in td{
  font: 11px Helvetica, Arial, sans-serif;
  border: #8F8F8F 0.5px solid;
  width:100%;
}


.default_button{
   margin-bottom:20px;
   margin-top:10px;
   margin-left:20px;
   background:#293484;
   color: #FFFFFF;
   font: 12px sans-serif; 
   -moz-border-radius: 5% 10% 5% 10%;  
   width:140px;
   height:30px;
   line-height:30px;
   text-align:center;
   border:none;
}

.default_button:hover{
   background:#4F5DD5;
   color:#FFFFFF;
   cursor:pointer;
}

.selected_button{
   margin-bottom:20px;
   margin-top:10px;
   margin-left:20px;
   font: 12px sans-serif; 
   -moz-border-radius: 5% 10% 5% 10%;  
   width:140px;
   height:30px;
   line-height:30px;
   text-align:center;   
   background:#4F5DD5;
   color:#FFFFFF;
   cursor:pointer;
}

/************************************ Relations 2 --> Drag and Drop***************************************/

    #dhtmlgoodies_dragDropContainer{	/* Main container for this script */
    width:790px;
    height:420px;
    border:1px solid #317082;
    background-color:#FFF;
    -moz-user-select:none;
    }
    #dhtmlgoodies_dragDropContainer ul{	/* General rules for all <ul> */
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    padding:2px;
    }
    
    #dhtmlgoodies_dragDropContainer li,#dragContent li,li#indicateDestination{	/* Movable items, i.e. <LI> */
    list-style-type:none;
    height:18px;
    line-height:18px;
    color:#31576F;
    background-color:#EEE;
    border:0.5px solid #8F8F8F;
    font-size:11px;
    padding:2px;
    margin-bottom:2px;
    cursor:pointer;
    text-align:center;
    }
    
    li#indicateDestination{	/* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
    border:1px solid #317082;
    background-color:#FFF;
    }
    
    /* LEFT COLUMN CSS */
    div#dhtmlgoodies_listOfItems{	/* Left column "Available students" */
    
    float:left;
    padding-left:10px;
    padding-right:10px;
    
    /* CSS HACK */
    width: 180px;	/* IE 5.x */
    width/* */:/**/160px;	/* Other browsers */
    width: /**/160px;
    
    }
    \#dhtmlgoodies_listOfItems ul{	/* Left(Sources) column <ul> */
    height:560px;
    
    }
    
    div#dhtmlgoodies_listOfItems div{
    border:1px solid #999;
    }
    div#dhtmlgoodies_listOfItems div ul{	/* Left column <ul> */
    margin-left:10px;	/* Space at the left of list - the arrow will be positioned there */
    }
    #dhtmlgoodies_listOfItems div p{	/* Heading above left column */
    margin:0px;
    font-weight:bold;
    padding-left:12px;
    background-color:#317082;
    color:#FFF;
    margin-bottom:5px;
    }
    /* END LEFT COLUMN CSS */
    
    #dhtmlgoodies_dragDropContainer .mouseover{	/* Mouse over effect DIV box in right column */
    background-color:#E2EBED;
    border:1px solid #317082;
    }
    
    /* Start main container CSS */
    
    div#dhtmlgoodies_mainContainer{	/* Right column DIV */
    width:100%;
    height:100%;
    }
    #dhtmlgoodies_mainContainer div{	/* Parent <div> of small boxes */
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    margin-top:0px;
    border:1px solid #999;
    width: 23%;
    
    }
    #dhtmlgoodies_mainContainer div ul{
    margin-left:5%;
    margin: 0 auto;
    }
    
    #dhtmlgoodies_mainContainer div p{	/* Heading above small boxes */
    margin:0px;
    padding:0px;
    padding-left:12px;
    font-weight:bold;
    background-color:#317082;
    color:#FFF;
    margin-bottom:5px;
    }
    
    #dhtmlgoodies_mainContainer ul{	/* Small box in right column ,i.e <ul> */
    width:200px;
    height:80px;
    border:0px;
    margin-bottom:0px;
    overflow:hidden;
    
    }
    
    #dragContent{	/* Drag container */
    position:absolute;
    width:150px;
    height:20px;
    display:none;
    margin:0px;
    padding:0px;
    z-index:2000;
    }
    
    #dragDropIndicator{	/* DIV for the small arrow */
    position:absolute;
    width:7px;
    height:10px;
    display:none;
    z-index:1000;
    margin:0px;
    padding:0px;
    }

    div#dhtmlgoodies_listOfItems{
    display:none;
    }
    body{
    background-color:#FFF;
    }
    #dhtmlgoodies_dragDropContainer{
    border:0px;
    width:100%;
    }



/************************************ Suite_executions --> Tabs de circuitos de la suite **************************************/


.circuits{
  width: 95%;
  height: 400px;
  padding: 10px;
  background: #FFFFFF;
  margin: 0 auto;
  -moz-border-radius:10px;
}

.tabs_circuit{
  text-align:right; 
  margin-top: 4px; 
  height: 8%;
  margin-top:30px;
  width: 100%;
}


.div_circuit{
  width:95%;
  min-height:200px;  
  float:left;
  margin-top:0px;
  margin-bottom:10px;  
  overflow: scroll;
  overflow-x: hidden;
  background:#D1E1E7; 
  font: 14px sans-serif;
  -moz-border-radius:10px;
  -moz-border-radius-topleft:0px;
  padding:10px;
  padding-left:30px;
}

/********************************* Move circuit *******************/

.circuit_move:hover{
  background:#F0F3F4;
  -moz-border-radius:20px;
  border:1px solid #BBC8CC;
  padding:20px; 
  padding-top:10px;
}



/**********************************ABM******************************/
.div_abm{
 float:left;
 margin-left: 20px;
 margin-top:20px;
 text-align:center; 
 font-size:12px;
}

.div_abm form{
   min-height:190px;
   padding:15px 8px 20px 8px;
   -moz-border-radius:20px;
   margin-top:10px;
}

.div_abm label{
 margin-top:5px;
}

.div_abm input button {
 cursor:pointer;
}

.div_abm input{
 width:150px;
}

.div_abm select{
 width:150px;
}


.div_link {
  padding: 4px 10px 4px 0px;
  height:20px;
  margin-top:10px;
}

.div_link a{
  text-decoration:none;
  height:20px;
  padding: 4px 10px 4px 5px;
  color: #668AA2;
}

.div_link a:hover{
  padding: 4px 10px 4px 5px;
  text-decoration:none;
  background:#D3D9DE;
  color: #293484;
  \-moz-border-radius:5px;
}

.div_link_selected{
  margin-top:10px;
}

.div_link_selected a{
  height:20px;
  padding: 4px 10px 4px 5px;
  text-decoration:none;
  background:#D3D9DE;
  color: #293484;
  \-moz-border-radius:5px;
}

/************************************  Notes ***************************************/

.note{
      background: url(/images/note_min.png);
      width:150px;
      height: 190px;  
}

.note textarea{
    font: normal 11px sans-serif;
    color:#293484;
    text-align:left;
    margin-top:30px;
    margin-left:5px;
    background: none;    
    border:none;
    padding:3px;
    padding-bottom:5px;
    overflow:none;
    text-align:left;   
}


/************************************  Notices ***************************************/
.div_notices{
  float:right; 
  font-size:11px;
  font-family:sans-serif;
  border:1px solid #375dc0; 
  -moz-border-radius:20px;
  text-align:left;
  width:140px; 
  height: auto; 
  padding:0px 10px 10px 0px;
  margin-right:10px;
  color:#293484;
}


/****************************Scrolls***************************************/

content {
scrollbar-face-color: #6685CA;
scrollbar-highlight-color: #6685CA;
scrollbar-shadow-color: #6685CA;
scrollbar-3dlight-color:#FFFFFF;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:#E5E5E5;
scrollbar-drakshadow-color:#000000;
}

h4{
color:#293484;
font-family:sans-serif;
font-size:11px;
text-align:left;
font-weight: normal;
}

/***************************************  Admin **************************/



div.TabView
{
  font-family: Verdana, Sans-Serif;
  font-size:   12px;
}


/* ***** Pages ***** */

div.TabView div.Pages
{
  clear: both;
  border:0.5px solid #E8E8D8;
  border-top: none;
  background: #FCFCFC;
}

div.TabView div.Pages                  { overflow: hidden; }
div.TabView div.Pages div.Page         { overflow:   auto; }
div.TabView div.Pages div.Page div.Pad { padding: 7px 7px; }

