.header{
  background: #4A5155;
}

/************************ Vertical slide Menu ********************************/


      #sideBar{
      position: absolute;
      height: 100%;
      top: 72px;
      left:-2px;
      background:url(/images/menu/slide-button.png);
      background-repeat:repeat-y;
      }

      #sideBarTab{
      cursor:pointer;
      float:left;
      width:32px;
      position:relative;
      z-index: 0;
      text-decoration:none;
      }

      #sideBarContents{
      overflow:hidden !important;
      width:100%; 
      height:100%;       
      }

      #sideBarContentsInner{
      width:100%;
      height:100%;
      background:#ffffff;
      padding:0 0px 10px 0;
      overflow:hidden !important;
      }

      #vertical_text{
      color:#373737;
      font-size:12px;
      font-weight:bold;
      margin-top:10px
      }
      

/************************ active_scaffold_overrides menu ********************************/


.menuItem {
  padding:4px 10px 4px 10px;
  -moz-border-radius: 50px;
  font-size: 14px;
}

.menuItem:hover {
  background-color:#f1f1f1;
}

.menuItem a {
  color: #84CC5B;
  text-decoration:none;
  font-size: 12px;
}

#menubar {
  height:20px;
  padding:10px;
  margin-left:20px; 
  color: grey;
  font-weight:bold;
}

#menubar a{
color: grey;
font: 13px sans-serif;
font-weight:bold;
}

#homes {
  float:left;
  margin-right: 20px;
  width:200px;
}

#herramientas {
  float:left;
  margin-right: 20px;
  width:200px;
  font: 12px sans-serif;
  margin-top:5px;
}


/************************ Projects menu ********************************/

#path {
  width:700px;;
  padding-top:5px;
  padding-left:60px;
  margin-bottom:5px;
  text-align:left;
}


#path a{
  margin-left:10px;
  text-decoration:none;  
  color:#4F5DD5; 
}


.view{
  float:right;
  font-size:12px;
  font-weight:normal;
  color: #373737;
  margin-left:10px;
}

  

/************************ Tools menu ********************************/

.cssMenu{
	background: transparent url(/images/icons/bcktool.png);
  margin: 10px,0,0,10px;
  text-align: center;
  display: block;
  height:35px;
  padding-top:2px;
	}


.cssMenu img{
  border: none;
  margin-top:1px;
  margin-left:12px;
  cursor:pointer;
}

.cssMenu a{
  outline:none;
}



/*------------------------- Tree Menu --------------------------*/

.treeToolbar{
	background: url(/images/icons/bcktool.png);
	height: 35px;
	padding-left:10px;
}

.treeToolbar img {
  border: none;
  margin-right:1px;
  margin-top:7px;
  cursor:pointer;
  margin-right:10px;
  height:20px;
}


/********************************* Ãrboles ****************************/

.content_tree{
   height:350px;
   width:350px;
   overflow:auto;
}

.dtree {
	font-family: sans-serif;
	font-size: 12px;
	color: #373737;
	padding-left:10px;
	padding-bottom:35px;
  white-space:nowrap;
}

.dtree img {
	border: 0px;
	vertical-align: middle;
	border:none;
}
.dtree a {

	text-decoration: none;
	font-weight:normal;
}
.dtree p {
	margin-left:70px;
}
.dtree p img{
	cursor:pointer;
}

.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}

dTreeNode a{
	border:none;
	padding-left:3px;
	padding-right:3px;
}

.dtree c{
	font-weight:normal;
	cursor:pointer;
  padding-left:3px;
	padding-right:3px;
}

.dtree c:hover{
	background: #CFD7DF;
	-moz-border-radius:3px;
}

.dtree a.node:hover, .dtree a.nodeSel:hover {
	background: #CFD7DF;
	-moz-border-radius:5px;

}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {

}


/***************************** Project menu ***********************************/



/* menu::base */
div#menuProject {
    height:41px;
    background:url(/images/menu/main-bg.png) repeat-x;
}

div#menuProject ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div#menuProject ul.menu {
    padding-left: 30px;
}

div#menuProject li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menuProject li:hover>ul {
    left: -2px;
}

div#menuProject a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: normal 12px Trebuchet MS;
    outline:none;
}
div#menuProject a:hover, div#menuProject a:hover span { color: #fff;}
div#menuProject li.current a {}

div#menuProject span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}


/* menu::level1 */
div#menuProject a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color:#A9A9A9;
    font-family:sans-serif;
    font-size:11px;
}

div#menuProject span {
    margin-top: 5px;
}/**@replace#1*/
div#menuProject li { background: url(/images/menu/main-delimiter.png) 98% 4px no-repeat; z-index:1;}
div#menuProject li.last { background: none; }

/* menu::level2 */
div#menuProject ul ul li { background: none; width:90%; }
div#menuProject ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding:5px 0 10px;
    background: rgb(45,45,45);
    margin-top:1px;
    max-height:300px;
    overflow-y:auto;
    text-align:left;
    white-space:nowrap;
}
div#menuProject ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menuProject ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menuProject ul ul a:hover span {
    color: #fff;

}
div#menuProject ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menuProject ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menuProject ul ul ul { background: rgb(41,41,41); }
div#menuProject ul ul ul ul { background: rgb(38,38,38); }
div#menuProject ul ul ul ul { background: rgb(35,35,35); }



