//
// @Authors:    
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

=render :partial =>"layouts/popup_header", :locals=>{:element =>"output_#{execution.id.to_s}"}        
%h1{:style=>"color:#045FB4;text-align:center;"}
  =_('Output')
%h3
  =truncate(execution.circuit.name,:ommision => "...", :length => 90)
%div{:style=>"height:auto;width:100%;max-height:75%;overflow:auto;"}
  //Snapshot
  -if !execution.execution_snapshots.empty? && !execution.execution_snapshots.nil?
    %h3{:style=>"text-align:left;color:#31576F"}
      Snapshots
    %ul{:style=>"max-height:100px;overflow:auto;margin-left:20px; border:1px solid #C6C5C4;-moz-border-radius:10px;width:250px;padding:5px;"}
      -execution.execution_snapshots.each do |snapshot|
        %li{:style=>"color:#31576F;"}
          =link_to truncate(snapshot.name.capitalize, :ommision => "...", :length => 30), "/executions/show_snapshot/0?snapshot_id=" + snapshot.id.to_s, :popup=> true, :style=>"font-size:12px; color:#31576F; font-weight:normal;"                  
  -if (!execution.output.nil? and !execution.output.empty?)
    %h3{:style=>"text-align:left;color:#31576F"}
      =_('Output')
    %div{:style=>"margin-left:20px;"}                
      =CGI.escapeHTML(execution.output.to_s).gsub("\n","<br/>")  
%div{ :style=>"clear: both"}        

