-@execution_error = ((execution.error and !execution.error.empty?) or (execution.position_error  and !execution.position_error.empty?))

-if @execution_error
  %h3{:style=>"color:red; margin-top: 0;"}
    Error
  .form_tag{:style=>"color:#8F8F8F; margin: 0 auto; min-height:200px; max-height:400px; overflow: auto;"}
    //POS ERROR
    -if !execution.position_error.nil? 
      %div{:style=>"color:#ff0000;margin-top:5px;"}
        -execution.position_error.split("\n").each do |line|
          =h line
          %br 
    %br 
    -execution.error.split("\n").each do |line|
      =h line
      %br 
