.permissions{:id=>"permissions"}
  .r{:id=>"permition_result", :style => "color:green"}
  -form_remote_tag :update => 'permition_result', :url => {:controller => "users", :action => "update_permitions",:id=>@user.id} do
    %b
      =_('Permissions')
    %p{:style=>"text-align:left"}
      =_('Root option gives Administrator privileges to the User. This allows:')
      %ul{:style=>"text-align:left"}
        %li
          =_('Create & Edit Proyect')
        %li
          =_('Assign and Dealocate users to Projects')
        %li
          =_('Admin Run Configurations')
        %li
          =_('Create and Edit Notes')
        %li
          =_('Add and Remove Functions')
        %li
          =_('Manage Users')
        %li
          etc.
    Root
    =check_box_tag "permitions","root", @user.has_role?("root")

    .form_button{:style=>"margin-right:10px;"}
      =submit_tag _("Update"), :class=>"button"
  
