.result{:id=>"result",:style=>"margin-left: 20px; margin-top: 20px;color:red;"}
  -if @text_result.empty?
    %span{:style => "color:green"}
      =_("Changes have been made successfully")
  -else
    %ul
      -@text_result.each do |message| 
        %li
          =message
