-remote_form_for @user, :url => { :controller => "users",:action => 'update', :id=>@user.id }, :complete => visual_effect(:toggle_in,'result'),  :update => 'result' do |f|
  .form_tag{:style => "width:250px;float:left;"}
    %label{:for => "login"}
      =_("User:")
    =f.text_field :login
    %br
    %br      
    %label{:for => "name"}
      =_("User Name:")
    = f.text_field :name 
    %br
    %br
    %label{:for => "email"}  
      Mail:
    = f.text_field  :email
    %br
    %br
    %label{:for => "active"}
      = f.check_box  :active 
      =_("Active")
    %br
    .form_button{:style=>"margin-right:20px;"}
      =submit_tag _('Save')


.form_tag{:style => "width:300px;float:left;margin-left:20px;"}
  =render :partial => "permissions"
  
  
  
  
  

  
  
