%img{:src => "/images/errors/not_pass.png", :alt=>"not_pass.png", :style=>"float:left; width:200px; height:200px; margin-left:5%; margin-top:5%;"}      
%b{:style=>"float:left; width: 300px; font: 28px sans-serif;color: #9f0100;margin-top:8%; margin-left:3%;"}
  =_("Access Denied")
  %br 
  %div{:style=>"font: 18px bold arial;color: grey;text-align:left;"}
    %br
    %br 
    %div{:style=>"font-size: 15px;"} 
      =_("You do not have Edit Permissions")
           