.main
  %h1
    =_("User Management")
  %h2{:style=>"margin-left: 30px;"}
    =_("Select any User")
  .result{:id=>"result",:style=>"margin-left: 20px; margin-top: 20px;color:red;"}
  .admin{:style => "width: 300px; margin-left: 30px; margin-top: 20px"}
    =select("user", "id", user_list(@users), {:include_blank => _("- Select -")},  :onchange => remote_function(:complete => visual_effect(:highlight,'user_setting'),:update => "user_setting",  :method => "get",  :url => { :controllers => :users, :action => :show_user_form },:with => 'Form.Element.serialize(this)') )
  %br
  %br
  .setting{:id => 'user_setting' }


