.login
  .volver
    =link_to _('Back'), "/sessions/new"
  %h1{:style=>" margin-top:0px; "}
    =_("Fill User or Mail for")
    =_("recover your Password")
  .registration
    = error_messages_for :user
    - form_for :user , :html=>{:style=>"margin:0 10%;width:auto;"} do |f|
      %label{:for => "login"}
        =_("User:")
      = f.text_field :login, {:size => 25, :maxlength => 30}
      %label{:for => "email"}
        Email:
      = f.text_field :email, {:size => 40, :maxlength => 50}  
      %br
      %br
      .form_button{:style=>"margin:0;float:left;"}
        = submit_to_remote 'button', _('Send Email'), :style=>"float:left;",:url => { :action => "email_password_recovery"}, :update => { :success => "send_email", :failure => "error" }, :loading => "document.getElementsByName('button')[0].disabled = 'disabled',new Effect.Appear('loading', { duration: 0.5} ); ", :complete => "new Effect.Fade('loading', { duration: 0.3 }); "

  %div{ :style=>"clear: both"}
  %div{   :id=>"loading",    :style=>"width: 300px; display:none; margin: 0 auto;"}
    %img{ :id=>"loading",    :src => "/images/load/bar.gif", :alt => "bar", :style=>"margin-left:130px;"}
  %div{   :id=>"send_email", :style=>" width: 200px; text-align:center; font-size:12px;font-weight:normal; margin: 0 auto;"}


