-confirmed      = delayed_jobs[0]
-last_confirmed = delayed_jobs[1]
-not_confirmed  = delayed_jobs[2]

%div{:class=>'column max'}
  /Confirmed
  -if !confirmed.blank?
    %h2
      =DelayedJob.s_status(1)   
    .scroll
      -confirmed.each do |dj|  
        %ul          
          =render :partial=>'frecuency', :locals=>{:delayed_job=> dj, :weekly_trans=>weekly_trans}   
                      
  /Last Confirmed
  -if last_confirmed
    %h2
      =DelayedJob.s_status(2)   
    %ul   
      =render :partial=>'frecuency', :locals=>{:delayed_job=> last_confirmed, :weekly_trans=>weekly_trans} 
     
/Not confirmed
-if !not_confirmed.blank?
  %div{:class=>'column max' }
    %h2
      =DelayedJob.s_status(0)   
    .scroll 
      -not_confirmed.each do |dj| 
        %ul           
          =render :partial=>'frecuency', :locals=>{:delayed_job=> dj, :weekly_trans=>weekly_trans} 

/TaskProgram
-if not_confirmed.blank? and !confirmed.blank?
  -task_program = confirmed.first.task_program
  %div{:class=>'column max' }
    %h2
      =truncate( task_program.identifier, :ommision => '...', :length => 25)  
    .scroll 
      %ul
        -task_program.suites.each do |suite|  
          %li          
            =truncate( suite.name, :ommision => '...', :length => 60) 

        

