.filter
  /Project
  %label
    =_("Project") 
  -value =(@project_id !=0) ? @project_id.to_i: ''  
  =select("filter", "project_id", @projects.collect {|p| [ truncate(p.name.capitalize, :ommision => "...", :length => 60) , p.id ] }.sort!,{ :selected => value},{:onchange => remote_function(:update => "select_suites",  :method => "get",  :url => { :controllers => :task_programs, :action => :show_suites_of_project},:with => 'Form.Element.serialize(this)') })

  /Suite
  %label 
    =_("Suite")
  =render :partial =>"select_suites_of_project", :locals=> {:suite_id =>@suite_id, :suites=>@suites}  

  /User   
  %label
    =_("User")
  -value = params[:filter] && params[:filter][:user_id]  ? params[:filter][:user_id].to_i: ''  
  =select("filter", "user_id", @users.collect {|u| [ truncate(u.login, :ommision => "...", :length => 60) , u.id ] }.sort!,{ :selected => value, :include_blank => _('All')})
              
  /Date From 
  %label
    =_('From:')
  =calendar_date_select_tag "filter[init_date]", params[:init_date].strftime("%d.%m.%Y %H:%M"),:size=>13 ,:time => true,:natural => true ,:valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :year_range => DateTime.now..(DateTime.now >>24)

  /Date Until    
  %label
    =_('Until:')
  =calendar_date_select_tag "filter[finish_date]", params[:finish_date].strftime("%d.%m.%Y %H:%M"),:size => 13 ,:time => true, :natural => true ,:valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :year_range => DateTime.now..(DateTime.now >>24), :after_show => "set_date();",:onchange => "set_hour();"

  /Identifier     
  %label
    =_('Identifier:')
  -value = params[:filter] && params[:filter][:identifier]  ? params[:filter][:identifier]: ''
  =text_field("filter", "identifier", {:value=>value})


  %label
    =submit_tag _("Apply")   