%table.detail
  %caption
    /Task Programs
  %thead
    %tr
      -if task_programs.empty?
        %th
          =_('Without Schedule')      
      -else       
        %th.very_small
          =check_box_tag 'all', '0', checked = false,  { :id=>'check_all'}
        %th.small
          =_("Project")   
        %th.medium
          =_("Suite")                  
        %th.small
          =_("Programmed by")            
        %th.medium
          =_("Schedule")
        %th.small
          =_('Identifier') 

  %tbody
    -form_for :task_programs,:url=>{:controller=>:task_programs,:action=>:destroy},:html=>{:id=>'form_delete'} do                     
      -task_programs.each do |task_program|
        %tr  
          %td
            -enabled = !(current_user.has_role?("root") or task_program.user_id == current_user.id)
            =check_box_tag "id[]", task_program.id, false, :disabled=>enabled, :class=>"check_delayed_job"
          %td{:title=>task_program.project.name}
            =truncate( task_program.project.name, :ommision => '...', :length => 60)               
          %td
            =render :partial=>'task_programs/suites', :locals=>{:task_program=>task_program}
          %td{:title=>task_program.user.name}
            =truncate( task_program.user.name, :ommision => '...', :length => 20)                 
          %td 
            %ul
              =render :partial=>'frecuency', :locals=>{:delayed_job=> task_program.delayed_jobs.first, :weekly_trans=>@weekly_trans} 
              -if task_program.delayed_jobs.count >1
                %sub.more
                  =link_to_remote '[...]', :complete => "$j('#delayed_job_list').show();",:update => 'delayed_jobs',  :method => 'get',  :url => delayed_job_path(task_program.id)             
          %td{:title=>task_program.identifier}
            =truncate( task_program.identifier, :ommision => "...", :length => 20)                          


//Delayed Jobs
#delayed_jobs{:class=>'hidden'}
        
         
