=@script_to_run

%script
  var text_to_ask='#{_('Are You sure to delete Scheduling?')}'

%h1
  =_("DJ")
         
=link_to _('Task Program'), delayed_jobs_path, :class=>'tab_view selected'    
=link_to _('Cron'), crons_path, :class=>'tab_view' 

.tab_container  
  =render :partial => "table", :locals => {:delayed_jobs => @delayed_jobs}
  
/Tools menu
-content_for :tools_menu do
  =render :partial=>"menu_delayed_jobs"  