%h1
  =_('Task Program')
         
=link_to _('Task Program'), delayed_jobs_path, :class=>'tab_view selected'    
=link_to _('Cron'), crons_path, :class=>'tab_view' 

.tab_container  
  =render :partial => 'table', :locals => {:delayed_jobs => @delayed_jobs}
  
/Tools menu
-content_for :tools_menu do
  =render :partial=>'menu'  

/Javascripts
-javascript 'checkbox_lib'   
= calendar_date_select_includes "blue"
%script
  var text_to_ask='#{_('Are You sure to delete Scheduling?')}';
  $j('#check_all').click(function(){ch_select_all(this, 'check_delayed_job');}); 

  var delete_url = '#{url_for(:controller=>:delayed_jobs, :action=>:destroy)}';
  $j('#delete_icon').click( function(){if( confirm(text_to_ask) ){ form = $j('#dj_actions'); form.attr('action',delete_url); form.submit();}}); 

  $j('#info_icon').click(function(){$j('#infoTaskPrograms').toggle();}); 

  $j('.more').click(function(){ var element_name = '#' + $j(this).attr('name');$j(element_name).toggle(); })