=@script_to_run

%script
  var text_to_ask='#{_('Are You sure to delete Scheduling?')}'
      
.main{:style=>"padding:1.5% 1%;"}
  %h1
    =_("Select a suite to view Scheduling:")
  
  //Filter
  -form_for :delayed_jobs, :url => delayed_jobs_path,:html=>{:id=>"dj_actions",:style=>"margin-bottom:10px;", :method=>:get } do
    =render :partial=>"filter"   
    %div{ :style=>"clear: both"}  
    
    //Table    
    -if params[:program]
      = will_paginate @delayed_jobs, :params => { 'program' => params[:program]},  :page => params[:paginate].to_i 
    -else
      = will_paginate @delayed_jobs 
    =render :partial => "table", :locals => {:delayed_jobs => @delayed_jobs}
  
//Tools menu
-content_for :tools_menu do
  =render :partial=>"menu_delayed_jobs"  