.tag{ :id => "assign", :style=>"left: 40%; height:320px; width:225px; display:none;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"assign"}  
		
  %div{:style=>"left: 30%; height:30%; width:70%;"}
    .div_abm{:style=>"color:#288EB1;"}
      %img{ :src => "/images/icons/relations.png", :alt=>"Assign", :style=>"cursor:pointer; width:20px; height:20px;"}
      =_('Assign to Project')
      -form_for(:user,:url => assignments_path([params[:project_id],params[:user_id]]), :html => { :action => :create, :style =>" border: 3px ridge #288EB1;" }) do |f|
        %label
          =_('User')
        %select{:name=>"user_id"}
          -@users.each do |user|
            %option{ :value => user.id}
              =user.login
        %label
          =_('Project')
        %select{:name=>"project_id"}
          -@projects.each do |project|
            %option{ :value =>  project.id}
              =project.name
        %br
        %br       
        =submit_tag _("Assign"), :style=>"cursor:pointer;"
        
        