.tag{ :id => "deallocate", :style=>"left: 40%; height:320px; width:225px; display:none;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"deallocate"}  
		
  %div{:style=>"left: 30%; height:30%; width:70%;"}
    .div_abm{:style=>"color:red;"}
      %img{ :src => "/images/icons/cross2.png", :alt=>"cross.png", :style=>"cursor:pointer;"}
      =_('Deallocate to Project')
      -form_for(:user,:url => assignment_path(params[:project_id]), :html => { :method => :delete, :style =>" border: 3px ridge red;" }) do |f|
        %label
          =_('User')
        %select{:name=>"user_id"}
          -@users.each do |user|
            %option{ :value => user.id}
              =user.login
        %label
          =_('Project')
        %select{:name=>"project_id"}
          -@projects.each do |project|
            %option{ :value =>  project.id}
              =project.name
        %br
        %br
        =submit_tag _("Deallocate"), :confirm=>_("Sure to remove relations?"), :style=>"cursor:pointer;"
        
        