//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
%div{:id=>"result",:style=>"margin-left: 20px; margin-top: 20px;color:red;"}

  .div_abm{:style=>"left: 50px;color:#0B610B;"}
    %img{ :src => "/images/icons/add3.png",  :style=>"cursor:pointer;", :alt=>_("Create"), :title =>_("Create"), :onClick => "document.getElementById('create').show();"}
    =_('Create Project') 
    %br 
    %br
  .div_abm{:style=>"margin-left: 50px;color:#FE9A2E;"}
    %img{ :src => "/images/icons/edit.png", :style=>"cursor:pointer;", :alt=>_("Edit"), :title =>_("Edit"), :onClick => "document.getElementById('edit').show();"}
    =_('Edit Project')  
    %br 
    %br  
  .div_abm{:style=>"margin-left: 50px;color:#288EB1;"}
    %img{ :src => "/images/icons/relations.png", :style=>"cursor:pointer;", :alt=>_("Assign"), :title =>_("Assign"), :onClick => "document.getElementById('assign').show();"}
    =_('Assign to Project')  
    %br 
    %br        
  .div_abm{:style=>"margin-left: 50px;color:red;"}
    %img{ :src => "/images/icons/cross2.png", :style=>"cursor:pointer;", :alt=>_("Deallocate"), :title =>_("Deallocate"), :onClick => "document.getElementById('deallocate').show();"}
      =_('Deallocate to Project')  
    %br 
    %br  

#div_create
  =render :partial=> "projects/create_popup"
#div_edit
  =render :partial=> "projects/edit_popup"
#div_assign
  =render :partial=> "user_projects/assign_popup"
#div_deallocate
  =render :partial=> "user_projects/dealloc_popup"      