%div{:id=>"result",:style=>"margin-left: 20px; margin-top: 20px;color:red;"}

  .div_abm{:style=>"left: 50px;color:#0B610B;"}
    =image_tag("/images/icons/add3.png",  :style=>"cursor:pointer;", :alt=>_("Create"), :title =>_("Create"), :onClick => "document.getElementById('create').show();")
    =_('Create Project') 
    %br 
    %br
  .div_abm{:style=>"margin-left: 50px;color:#FE9A2E;"}
    =image_tag("/images/icons/edit.png", :alt=>_("Edit"), :title =>_("Edit"))
    =_('Edit Project')  

#div_create
  =render :partial=> "projects/create_popup"

     
