//
//  @Authors:
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.

.tag{ :id => "create", :style=>"left: 40%; height:320px; width:225px; display:none;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"create"}  

  %div{:style=>"left: 30%; height:30%; width:70%;"}
    .div_abm{:style=>"color:#0B610B;"}
      %img{ :src => "/images/icons/add3.png",  :style=>"cursor:pointer;"}
      =_('Create Project')
      -form_for(:project, :url => projects_path, :html => { :method => :post, :style =>" border: 3px ridge #0B610B;" }) do |f|
        %label{:for => "name"}
          =_('Name')
        = f.text_field :name
        %label{:for => "description"}
          =_('Description')
        = f.text_field :description
        %label
          =_('Manager')
        %select{:id => "project_user_id", :name=>"project[user_id]"}      
          -@users.each do |user|
            %option{ :value => user.id}
              =user.login
        %br
        %br
        =submit_tag _('Create'), :style=>"cursor:pointer;"
  