//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
.main
  .projects{:id=> "projects"}
    %h1
      =_('Project Management')
    %br
    %h7
      =_('Here you manage all projects. As a ')
      %b
        =_('Root')
      =_(' user, you can create new projects, edit existing and designate Managers.')
      %br
    
  %div{:style=>"left: 30%; height:30%; width:70%;"}		
    .div_abm{:style=>"color:#FE9A2E;"}
      %img{ :src => "/images/icons/edit.png", :alt=>"edit", :style=>"cursor:pointer; width:20px;heidth:20px;"}
      =_('Edit Project')
      -form_for(:project, :url => project_path(:value), :html => { :method => :put, :style =>" border: 3px ridge #FE9A2E;" }) do |f|
        %label{:for => "name"}
          =_('Name')
        = f.text_field :name
        %label{:for => "description"}
          =_('Description')
        = f.text_field :description
        %label{:for => "user_id"}
          =_('Manager')
        = f.text_field :user_id
        =submit_tag _('Modify'), :style=>"cursor:pointer;"
        %div
          User
          -@project.users.sort_by { |x| x.login.downcase }.each do |user|
            =link_to image_tag("/images/icons/cross.png", :alt=>"cross.png",:style=>"cursor:pointer; height:12px; width:12px; margin-left:10px;border:none;"), user_assignment_path(user.id,@project.id), :method=>:delete
            =user.login
            %br
    %br
    %br

    %div{ :style=>"clear: both"}
  
//.form_tag{:style => "width:220px;height:210px;float:left;margin-left:20px;"}
//  =render :partial => "user_assignments/assignments"
    
//Tools menu
-content_for :tools_menu do
  =render :partial=> "admin/menu_admin"


