.main
  .projects{:id=> "projects"}
    %h1
      =_('Project Management')
    %br
    %ul
      %li
        =_('Here are listed all your projects / others projects.')
      %li
        =_('You can create new projects and edit the projects on which you are the Manager.')
      - if @is_root
        %li
          =_('As a ROOT, you can edit any project.')
    
    = render :partial => "abm_projects"
    = render :partial => "table", :locals => { :projects => @my_projects } unless @my_projects.empty?
    = render :partial => "table", :locals => { :projects => @other_projects } unless @other_projects.empty?


    



