.main
  .projects{:id=> "projects"}
    %h1
      =_('Project Management')
    %br
    %h7
      =_('Here you manage all projects. As a ')
      %b
        =_('Root')
      =_(' user, you can create new projects, edit existing and designate Managers.')
      %br
    
    = render :partial => "abm_projects"
    
    = render :partial => "table", :locals => { :projects => @my_projects } unless @my_projects.empty?
    = render :partial => "table", :locals => { :projects => @other_projects } unless @other_projects.empty?

    %br
    %br

    %div{ :style=>"clear: both"}
  
    



