%style

  table{
  width:600px;
  margin-top:15px;
  color:#6E6E6E;
  border-collapse:collapse;
  }

  table th{
  width:100px;
  border:solid #A4A4A4 1px;
  text-align:center;
  padding:5px;
  }

  table td{
  width:50px;
  border:solid #A4A4A4 1px;
  text-align:center;
  padding:5px;
  }

  table td.i{
  width:400px;
  }

  table td.i{
  text-align:left;
  }

%table
  %tr
    %th
      %strong
        =_('Expression')
    %th
      %strong
        =_('Meaning')
  %tr
    %td
      \.
    %td.i
      =_('any character')
  %tr
    %td
      []
    %td.i
      =_('specification of range. Eg: [a-z] a letter, a to z')
  %tr
    %td
      \\w
    %td.i
      =_('letter or number, is the same as [0-9A-Za-z]')
  %tr
    %td
      \\W
    %td.i
      =_('any characters except letters or numbers')
  %tr
    %td
      \\s
    %td.i
      =_('space character, it is the same as [\t\n\r\f]')
  %tr
    %td
      \\S
    %td.i
      =_('any character other than space')
  %tr
    %td
      \\d
    %td.i
      =_('number, the same as [0-9]')
  %tr
    %td
      \\D
    %td.i
      =_('any character other than a number')
  %tr
    %td
      \\b
    %td.i
      =_('recoil (0x08), if within range')
  %tr
    %td
      \\b
    %td.i
      =_('word boundary, if not within a range')
  %tr
    %td
      \\B
    %td.i
      =_('no word boundary')
  %tr
    %td
      *
    %td.i
      =_('zero or more repetitions of what precedes it')
  %tr
    %td
      +
    %td.i
      =_('one or more repetitions of what precedes it')
  %tr
    %td
      $
    %td.i
      =_('end of line')
  %tr
    %td
      {m,n}
    %td.i
      =_('as less than m, and at most n repetitions of what precedes it')
  %tr
    %td
      ?
    %td.i
      =_('at least one repetition of what precedes it, the same as {0.1}')
  %tr
    %td
      ()
    %td.i
      =_('grouping expressions')
  %tr
    %td
      ||
    %td.i
      =_('logical OR, find it before or after')
