//Script Tutorial
%div{:style=>"width:75%; margin:auto;"}
  .column{:style=>"padding-left: 10px;width: 250px;"}
    %h1{:style=>"font-size:12px"}
      1.
      %i{:style=>"color:#4F5DD5;"}
        =_('Right click')
      %b
        =_('(in a Folder)')
    %div{:style=>"border:1px solid #9A9A9A;padding:10px;-moz-border-radius:10px;height:240px;"}
      %div{:style=>"background-image:url('/images/tutorial/#{_('New')}-script.png');background-repeat:no-repeat;height:100%;-moz-border-radius:10px;"}

  .column{:style=>"padding-left: 10px;width: 250px;"}
    %h1{:style=>"font-size:12px"}
      2.
      %i{:style=>"color:#4F5DD5;"} 
        =_('Upload or create empty')
    %div{:style=>"border:1px solid #9A9A9A;padding:10px;-moz-border-radius:10px;height:240px;"}
      %div{:style=>"background-image:url('/images/tutorial/#{_('New')}-script2.png');background-repeat:no-repeat;height:100%;-moz-border-radius:10px;"}

  .column{:style=>"padding-left: 10px;width: 250px;:text-align:left;"}
    %h1{:style=>"font-size:12px"}
      3.
      %i{:style=>"color:#4F5DD5;"}
        =_('Edit!')
    %div{:style=>"border:1px solid #9A9A9A;padding:10px;-moz-border-radius:10px;height:240px;"}
      %div{:style=>"-moz-border-radius:20px;background-image:url('/images/tutorial/#{_('New')}-script3.png');background-repeat:no-repeat;height:100%;-moz-border-radius:10px;"}
  %div{ :style=>"clear: both"}
     