//Suite Tutorial
%div{:style=>"width:77%; margin:auto;"}
  .column{:style=>"padding-left: 10px;width: 250px;"}
    %h1{:style=>"font-size:12px"}
      1.
      %i{:style=>"color:#FF8000;"}
        %img{:src => "/images/icons/new.png",:alt=>"new",:title=>_('New'), :onClick => "location='/suites/new'", :style=>"cursor:pointer;"}     
        =_('Create')

    %div{:style=>"border:1px solid #9A9A9A;padding:10px;-moz-border-radius:10px;height:240px;"}
      %div{:style=>"background-image:url('/images/tutorial/#{_('New')}-suite.png');background-repeat:no-repeat;height:100%;-moz-border-radius:10px;"}

  .column{:style=>"padding-left: 10px;width: 250px;"}
    %h1{:style=>"font-size:12px"}
      2.
      %i{:style=>"color:#FF8000;"}
        =_('Add Scripts')
    %div{:style=>"border:1px solid #9A9A9A;padding:10px;-moz-border-radius:10px;height:240px;"}
      %div{:style=>"background-image:url('/images/tutorial/#{_('New')}-suite2.png');background-repeat:no-repeat;height:100%;-moz-border-radius:10px;"}
  .column{:style=>"padding-left: 10px;width: 260px;"}
    %h1{:style=>"font-size:12px"}
      3.
      %i{:style=>"color:#FF8000;;"}
        =_('Sort Scripts and Add Cases')
    %div{:style=>"border:1px solid #9A9A9A;padding:10px;-moz-border-radius:10px;height:240px;"}
      %div{:style=>"background-image:url('/images/tutorial/#{_('New')}-suite3.png');background-repeat:no-repeat;height:100%;-moz-border-radius:10px;"}
