//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
%div{:id => "functions"}
  -if paginate
    %div{ :style=>"float:right;margin-right:5%;"}
      = will_paginate user_functions, :params => {:filter => {:text => @param_search, :project_id=> @project_id} }
  %br
  %br
  -if user_functions.empty?
    %h2
      %i
        =_('This project has no specific functions')
  -else  
    %table.general{:name=>"table_zebra", :cellspacing=>"0",:style=>"border:1px solid grey;"}
      %tr
        %th{:style=>"border-right:1px solid grey;width:20%;"}
          =_('Name')
          \:
        %th{:style=>"border-right:1px solid grey;width:30%;"}
          =_('Description:')
        %th{:style=>"width:12%;border-right:1px solid grey;width:10%;"}
          =_('Created by:')
        %th{:style=>"border-right:1px solid grey;width:10%;"}
          =_('Privacity')
        %th{:style=>"width:12%;border-right:1px solid grey;width:10%;"}
          =_('Actions')
      -user_functions.each do |function|
        %tr
          %td{:title=>function.name, :style=>"height:30px;border-right:1px solid #C6C5C4;font-size:12px;font-weight:bold;"}
            =link_to truncate(function.name, :ommision => "...", :length => 60), url_for(:controller => 'user_functions',:action => 'edit', :id => function.id )
          %td{:title=>function.description, :style=>"border-right:1px solid #C6C5C4;"}
            =truncate(function.description, :ommision => "...", :length => 130)
          %td{:title=>function.user.name, :style=>"border-right:1px solid #C6C5C4;text-align:center;"}
            =truncate(function.user.name.capitalize , :ommision => "...", :length => 25)
          %td{ :style=>"border-right:1px solid #C6C5C4;"}
            %div{:style=>"margin: 0 auto; width: -moz-fit-content;"}
              //Public or private
              -if function.visibility
                =image_tag("icons/multiple_user.png", :alt=>"check", :title=> _("Public use"), :style=>"margin-left:5px;", :onClick => remote_function(:complete => "$j('#user_function_uses').show();",:update => "user_function_uses",  :method => "get",  :url => { :controller => :user_functions , :action => :user_function_uses, :id => function.id } ) )
              -else
                =image_tag("icons/user.png", :alt=>"user.png", :title=> _("Private use"), :style=>"margin-left:5px;", :onClick => remote_function(:complete => "$j('#user_function_uses').show();",:update => "user_function_uses",  :method => "get",  :url => { :controller => :user_functions , :action => :user_function_uses, :id => function.id } ) )
              //Code hide
              -if function.hide
                =link_to image_tag("icons/private.png", :alt=>"private.png"), url_for(:controller => 'user_functions',:action => 'show', :id => function.id ), :title=> _("Hidden code"), :style=>"margin-left:5px;"
              -else
                =link_to image_tag("icons/public.png", :alt=>"public.png", :title=> _("Public code"), :style=>"margin-left:5px;"), url_for(:controller => 'user_functions',:action => 'show', :id => function.id)
          //Actions
          %td{:style=>"width:10%;border-right:1px solid #C6C5C4;"}
            %div{:style=>"margin: 0 auto; width: -moz-fit-content;"}
              -if @has_permission
                =link_to image_tag('/images/icons/edit.png', :alt=>"lapiz_azul.png", :style=>"border:none;margin-left:5px;height:14px;",  :title=>_('Edit')),  url_for(:controller => 'user_functions',:action => 'edit', :id => function.id )
                -if !@public
                  -msg = _('Sure to remove the Function')
                  %a{:onclick => "if(confirm('#{msg}: #{function.name} ?'))location='/user_functions/delete/#{function.id}'", :style => "cursor:pointer;"}
                    %img{:src => '/images/icons/cross.png', :alt=>"cross_blue.png", :style=>"border:none;margin-left:5px;height:14px;",  :title=>_('Delete')}
                  -if can_move
                    %img{:src => "/images/icons/move.png", :alt=>"move.png", :title=>_('Move Function'), :style=>"height:15px;margin-left:5px;width:15px;",:onClick => remote_function(:url => {:controller => "user_functions", :action => "show_move", :id => function.id}, :complete =>  "$j('#move').show();" , :update => "move")}

                          
.tag{:id => "move", :style => "display:none;top:25%;left:40%;width:20%;"}


//Scripts using the function
#user_function_uses{:style=>"display:none;"}
