//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
=render :partial =>"layouts/popup_header", :locals=>{:element =>"move"}
%h3
  =_('Move')
  
.form{:style=>" margin-left:30px; margin-top:20px;"}
  %label
    =_('Move Function: ')
  %label{:style=>"color:#373737;"}
    =truncate(user_function.name, :ommision => "...", :length => 60)
  %br
  %label
    =_('to project: ')

  -form_for @user_function, :url => { :controller => 'user_functions', :action => 'move', :id => user_function.id} do |f|
    %label{ :for => "project" }      
      =f.select "project" ,projects
    %br
    .form_button{:style=>"margin-right:20px;"}
      =submit_tag _('Move')
    %br
    %br
