=render :partial =>"layouts/popup_header", :locals=>{:element =>"move"}
%h3
  =_('Move')
  
.form{:style=>" margin-left:30px; margin-top:20px;"}
  %label
    =_('Move Function: ')
  %label{:style=>"color:#373737;"}
    =truncate(user_function.name, :ommision => "...", :length => 60)
  %br
  %label
    =_('to project: ')

  -form_for @user_function, :url => { :controller => 'user_functions', :action => 'move', :id => user_function.id} do |f|
    %label{ :for => "project" }      
      =f.select "project" ,projects
    %br
    .form_button{:style=>"margin-right:20px;"}
      =submit_tag _('Move')
    %br
    %br
