.tag{ :id => "user_function_uses", :style=>"left: 30%; height:280px; width:600px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"user_function_uses"}  
  %h3
    =truncate(@user_function.name.capitalize, :ommision => "...", :length => 60)
    =_('could be being used in')
  -if @scripts.empty? and @functions.empty?
    %br
    %br
    %br         
    %h2{:style=>"text-align:center;"}
      %i
        =_('The function is not used')
  -else   
    %div{:style=>"max-height:200px;overflow:auto;margin-left:10px;margin-top:30px;"}
      -if !@scripts.empty?
        %table.detail{:style=>" width: auto;min-width:90%;  margin: 0 auto;"}
          %thead
            %tr
              %td{:style=>"width:30%;"}
                =_('Script')
              %td{:style=>"width:30%;"}
                =_('User')
              %td{:style=>"width:30%;"}
                =_('Project')
          %tbody
            -@scripts.each do |script|
              %tr
                %td{:title=>script.name.capitalize}
                  =truncate(script.name.capitalize,:ommision => "...", :length =>20)
                %td{:title=>script.user.name.capitalize}
                  =truncate(script.user.name.capitalize,:ommision => "...", :length =>20)
                %td{:title=>script.project.name.capitalize}
                  =truncate(script.project.name.capitalize,:ommision => "...", :length =>20)
      -if !@functions.empty?
        %table.detail{:style=>" width: auto;min-width:90%; margin: 20px auto 0;"}
          %thead
            %tr
              %td{:style=>"width:30%;"}
                =_('Function')
              %td{:style=>"width:30%;"}
                =_('User')
              %td{:style=>"width:30%;"}
                =_('Project')
          %tbody      
            -@functions.each do |function|
              %tr
                %td{:title=>function.name.capitalize}
                  =truncate(function.name.capitalize,:ommision => "...", :length =>20)
                %td{:title=>function.user.name.capitalize}
                  =truncate(function.user.name.capitalize,:ommision => "...", :length =>20)
                -value = (function.project_id == 0 )? _('Generals') : function.project.name.capitalize
                %td{:title=>value }
                  =truncate(value,:ommision => "...", :length =>20)       

