-javascript 'user_function'

.main
  %h1
    =_('Functions')

  //Select Project
  #select_project_div{:style => "display:#{display};"}
    %form{ :url=>"user_functions",:id=> "form_filter"}
      =select("filter", "project_id", [[_('Generals'), 0]]  +  @projects.collect {|p| [ truncate(p.name, :ommision => "...", :length => 60), p.id ] }.sort!,{ :selected => (@project_id != "") ? @project_id.to_i: @project_id,:include_blank => _('Public')},{ :onchange=>"$j('#form_filter').submit();", :style => "width: 200px;"}) 
  
  //Table
  -if @user_functions.empty?
    %h2
      %i
        =_('This project has no specific functions')
  -else
    %div{ :style=>"float:right;"}
      = will_paginate @user_functions, :params => {:filter => {:text => @param_search, :project_id=> @project_id} }
    %br
    %br
    =render :partial => "functions", :locals => {:user_functions => @user_functions, :can_move => @can_move}

//Tools menu
-content_for :tools_menu do
  =render :partial =>"menu_user_function"


