//
//  @Authors:
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
-javascript 'user_function'

.main
  %h1
    =_('Functions')
  =render :partial => "filter"

  -if @user_functions.empty? 
    -if params[:filter]
      %h2
        %i
          =_('This project has no specific functions')
  -else
    %div{ :style=>"float:right;"}
      = will_paginate @user_functions, :params => {:filter => params[:filter] }
    =render :partial => "functions", :locals => {:user_functions => @user_functions, :can_move => @can_move, :paginate => true, :show_project=>true}

//Tools menu
-content_for :tools_menu do
  =link_to image_tag("/images/icons/filter.png",:alt=>"filter.png",:title=>_('Filter')),  "/user_functions"

