-javascript 'home'

.main{:style=>"padding:1.5% 0;width:100%;"}
  .home_cacique
    .column_1{:style=>"float:left;width:35%;margin-top:1%;"}
      %img{:src=>"/images/cacique/logo_cacique_ing.png", :alt=>"cacique", :style=>"margin-left:15%;"}
      %h2{:style=>"text-align:center;"}

    .column_2{:style=>"float:left;width:30%;"}
      .tag{:style=>"width:80%;"}
        %ul
          %li
            =link_to 'Tutorial Script',  help_path(1) , :popup => true   
          %li
            =link_to 'Tutorial Suite',  help_path(2) , :popup => true                                    
          %li
            =link_to 'Ruby',  help_path(3), :popup => true
          %li
            =link_to _('Ruby Tutorial'),'http://rubytutorial.wikidot.com/introduccion', :popup => true
          %li 
            =link_to _('Cacique on My Computer'),'/CaciqueOnMyComputer.zip', :popup => true
      -if !@links.nil?
        .tag{:style=>"width:85%;padding-right:5px;"}
          =render :partial => "links"
          
        %div{ :style=>"clear: both"}
    .column_3{:style=>"float:left;width:30%;"}
      -if !@notes.nil?
        -@notes.each do |note|
          =render :partial => "notes", :locals=>{:note=>note}
