//Data recoveries
-permission_denied = "alert('#{_("You do not have Edit Permissions for this script")}')"
.tag{ :id => "data_recoveries", :style=>"left: 30%; height:290px; width:400px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"data_recoveries"}  
  =render :partial =>"new"
  =render :partial =>"index"

           

