//
// @Authors:    
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

//QUEUE OBSERVERS INFO
.info{:id=>"infoQueueObserver", :style=>"display:none;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"infoQueueObserver"} 
  .infoData
    %h2{:style=>"text-align:center;"}
      %b
        =_('Queue Observer')
      %p{:style=>"text-align:center;"}
        =_('Shows the number of waiting Executions in the system')

    %h3
      %img{:src => "/images/icons/refresh.png", :alt=>"refresh.png"}
      =_('Refresh')
    %p
      =_('Update the job queue')
      %br
      %br
    %h3
      %img{:src => "/images/icons/restart.png", :alt=>"restart.png"}
      =_('Restart')
    %p
      =_('Restarting the worker')

