%script
  function align_queue(){
  document.getElementById('queue_observers').style.left=document.getElementById('queue_image').offsetLeft + "px";
  }

#queue_observers
  -unless @queues_value.include? :error
    %table
      %tr
        %th 
          =_("Nombre")
        %th 
      
        -@queues_value.each do |q,v|
          -unless q == :total_queued_task
            %tr
              %td
                =q.to_s.gsub("execution_workers__","").gsub("_"," ")
              %td
                =v
        %tr
          %td
            =_("Total")
          %td
            =@queues_value[:total_queued_task]
  -else
    =_("Conection Error")

%br
=link_to _('Details'), "/queue_observers"
%br
