//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

//Div para verificar si copiar o no el set de datos asociado
.tag{ :id => "import_circuit", :style=>" display:none;  width: 300px;height: 170px;left: 450px; top: 120px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"import_circuit"} 
  %h3
    =_("Import Script")
  -if self.controller.controller_name == "circuits"
    %div{:style=>"color:#333333;font-family:sans-serif;font-size:12px;display:inline;margin-left:15px;"}
      =_("To Project:")
    %br
    .projectid{:style=>"margin-left:15px;margin-top:5px;"}
      =select "project", "id" ,@my_projects.collect {|p| [ p.name, p.id ]} 
    %br
  -else
    %h2{:style=>"color:#045FB4;text-align:left; font-size=>11px;"}
      =_('Selected script will be copied')
      =_('into Imported Folder')
    %br
  %input{:id=>"cases",:name=>"cases", :type=>"checkbox", :style=>"float:left;margin-left:15px;"}
  %label{:style=>"color:#333333;font-family:sans-serif;font-size:12px;display:inline;"}
    =_('Copy Data Set')
  %br
  %input{:type=>"button", :value=>_("Import"), :onClick => "document.getElementById('import_form').submit();", :style=>"float:right;cursor:pointer;"}
