//Div para verificar si copiar o no el set de datos asociado
.tag{ :id => "import_circuit", :style=>" display:none;  width: 300px;height: 170px;left: 450px; top: 120px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"import_circuit"} 
  %h3
    =_("Export Script")
  -if self.controller.controller_name == "circuits"
    %div{:style=>"color:#333333;font-family:sans-serif;font-size:12px;display:inline;margin-left:15px;"}
      =_("To Project:")
    %br
    .projectid{:style=>"margin-left:15px;margin-top:5px;"}
      =select "project", "id" ,@my_projects.collect {|p| [ p.name, p.id ]} 
    %br
  -else
    %h2{:style=>"color:#045FB4;text-align:left; font-size=>11px;"}
      =_('Selected script will be copied')
      =_('into Imported Folder')
    %br
  %input{:id=>"cases",:name=>"cases", :type=>"checkbox", :style=>"float:left;margin-left:15px;"}
  %label{:style=>"color:#333333;font-family:sans-serif;font-size:12px;display:inline;"}
    =_('Copy Data Set')
  %br
  %input{:type=>"button", :value=>_("Export"), :onClick => "document.getElementById('import_form').submit();", :style=>"float:right;cursor:pointer;"}
