.tag{:id=>"div_category_edit", :style=>" left: 600px; top: 120px; width:250px; height:240px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"div_category_edit"} 
  %h3
    =_('Rename Folder')
  -remote_form_for :category, :url => "/categories/update/#{@category.id}", :complete => visual_effect(:appear, 'sideBarContentsInner'), :update => "sideBarContentsInner" do
    %label
      =_('Name')
      %br
      =text_field_tag 'name', @category.name, :id =>"rename_module_name", :style=>"width:220px;margin-left:10px;margin-top:10px;"
    %br
    %label
      =_('Description')
      %br
      =text_area_tag 'description', @category.description, :id => "rename_module_descrip", :style=>"width:220px;margin-left:10px;margin-top:10px;"
    %br
    .form_button{:style=>"margin-right:10px;"}
      =submit_tag _('Modify'), :onclick => "return checkrequiredformodule();"
