//CATEGORY INFO
.info{:id=>"infoCategory", :style=>"display:none;left:310px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"infoCategory"} 
  .infoData
    %h2{:style=>"text-align:center;"}
      %b
        =_('Folder')
      %p
        =_('Each folder is a group of scripts.')
        %br
        =_('This group is defined by the user and is useful to sort the scripts.')
        %br
    %h3
      %img{:src => "/images/icons/import_grey.png", :alt=>"import.png"}
      =_('Import Script')
    %p
      =_('Allows you to import scripts from other projects, including or not the associated data set.')
    %h3
      %img{:src => "/images/icons/move.png", :alt=>"move.png"}
      =_('Move Script')
    %p
      =_('Allow to move scripts between folders.')
    %h3
      %img{:src => "/images/dtree/expandall.png", :alt=>"expandall"}
      =_('Expand All')
    %p
      =_('Allow to Expand All Project tree nodes.')
    %h3
      %img{:src => "/images/dtree/colapseall.png", :alt=>"colapseall"}
      =_('Collapse All')
    %p
      =_('Allow to Collapse All Project tree nodes.')

    