=will_paginate @pag, :params => {:search_pattern => params[:search_pattern]}

.search_patternt{:style=>"margin-left:2%; margin-bottom:10px; "}
  %br
  %h1
    =_('Scripts Search Results for All Projects')
  %br
  .description{:style => "margin-left:2% "}
    -unless @pag.empty?
      %ul
        -@pag.each do |script|
          %li
            =link_to script.name, edit_project_circuit_path(script.project_id,script) 
            %h4
              .description{:style => "width:600px;left: 150px; top: 50px;right: 40px;margin-left:4% "}
                =h script.description
              %strong{:style => "margin-left:4%"}
                Proyecto:
              %span{:style => "color: grey"}
                =h script.category.project.name


    -else
      %span{:style => "color: grey"}
        %i
          =_("No results were found for the search")
  
%br
%br
%br
%br
%div{ :style=>"clear: both"}
