-javascript 'import_circuit'
-javascript 'dtree'
  
.main
  %h1{:title=>_("Import Scripts to") + @project.name,:style=>"text-align:left;margin-top:30px;"}
    =_('Import Scripts to')
    =truncate(@project.name,  :ommision => "...",:length => 40)
  -form_for :category, :url => "/categories/save_import_circuit", :html => { :id => "import_form" } do
    %div{:id => "arbol", :style=>"float:left; margin-left: 20px;margin-right: 40px;margin-bottom:20px; width:90%;"}
      %h2
        %div{:style=>"width:300px;float:left;"}
          =_("Select Script from Projects:")
        %div{:style=>" float:right; width:30px;"}
          %input{ :type => "Button", :value => _('Import >>'),:onclick=>"if(validarSeleccion())document.getElementById('import_circuit').style.display='';",:style=>"cursor:pointer; float:right; margin-right:28px; border:none; color:#4F5DD5; font: 12px sans-serif;font-weight:bold; -moz-border-radius:15px;margin-bottom:10px;" }
        %div{ :style=>"clear: both"}

        %img{ :src=>"/images/dtree/expandall.png", :alt=>"expandall.png",   :title=>_("Expand All"), :onclick => "d.openAll();", :style=>"cursor:pointer;margin-left:15px;"}
        %img{ :src=>"/images/dtree/colapseall.png",:alt=>"colapseall.png",  :title=>_("Collapse All"), :onclick => "d.closeAll();", :style=>"cursor:pointer;"}
        .dtree
          %script
            d = new dTree('d');
            d.add(0,-1,'Proyectos');
            =category_tree(@projects, 'import_circuit')
            document.write(d);

    %div{ :style=>"clear: both"}
    =render :partial => "case_confirm"

