.tag{ :id => "abm_columns", :style=>"display:none; position:fixed; width: 350px; height: 280px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"abm_columns"} 
  %h3
    =_('Columns')
  .tabs
    .t_tab{:id => "t_add", :onClick => "habilitarSolapa('add');", :style=>"background:#E0E0F8;"}
      %b
        =_('Add')
    .t_tab{:id => "t_delete", :onClick => "habilitarSolapa('delete');"}
      %b
        =_('Delete')
    .t_tab{:id => "t_modify", :onClick => "habilitarSolapa('modify');"}
      %b
        =_('Modify')
  .tab{:id => "add_column", :style=>"-moz-border-radius-topleft:0px;height:135px;background:#E0E0F8;"}
    %form{ :id => "form_add_column", :action => "/circuits/add_column/#{@circuit.id}", :method => "get" , :style=>"color:#31576F; font-size:12px;"}
      %label
        =_('New Column:')
        %input{ :id=>"column_name_add",:name=>"column_to_add",:value=>'', :style=>"width:170px;" }
      %label
        =_('Default Value:')
        %input{ :id => "column_value_add", :name => "value_column_to_add", :value => '', :style => "width:170px;"}
      %label
        =_('*this value will be used for all cases previously created')
    .form_button
      %input{ :onClick => "createColumn();", :type => "Button", :value => _("Create") }
  .tab{:id => "delete_column", :style=>"display:none;height:135px;background:#E0E0F8;"}
    %form{ :id => "form_delete_column", :action => "/circuits/delete_column/#{@circuit.id}", :method => "get" , :style=>"color:#31576F; font-size:12px;"}
      %label
        =_('Delete Column:')
        =select("column", "to_delete", @columns_data_show.collect {|p| [ p, p ] }, {:prompt => _('-Select-')})
    .form_button
      %input{ :onClick => "deleteColumn();", :type => "Button", :value => _("Delete") }
  .tab{:id => "modify_column", :style=>"display:none;width:307px;height:135px;background:#E0E0F8;-moz-border-radius-topright:0px;"}
    %form{ :id => "form_modify_column", :action => "/circuits/modify_column/#{@circuit.id}", :method => "get" , :style=>"color:#31576F; font-size:12px;"}
      %label
        =_('Select Column to Modify')
        =select("column", "to_modify", @columns_data_show.collect {|p| [ p, p ] }, {:prompt =>_('-Select-')},{:onChange=>"changeValueInputModify();"})
      %label
        =_('New Name:')
        %input{ :id=>"column_name_modify",:name=>"column_name_to_modify",:value=>'', :style=>"width:170px;" }
    .form_button
      %input{ :onClick => "modifyColumn();", :type => "Button", :value => _("Modify")}
