%script
  //Selected filed in table
  var marcado  = "";
  var anterior = "";
  var color_anterior = "";
  window.url_update= "#{url_for(project_circuit_path(circuit.project_id,circuit.id))}"
  //var url_update ="#{url_for(project_circuit_path(circuit.project_id,circuit.id))}"

//To find out if called from case template, edit suite or suite comment
-@controller_data = self.controller.controller_name()

-if case_templates.empty? && params[:search].nil?
  #cases_table{:style => "width:99%;  margin:auto;"}
    %h2{:style=>"margin-top:30px; margin-left:5px;"}
      =_("Without Cases")
    %br
-elsif case_templates.empty? && !params[:search].nil?
  #cases_table{:style => "width:99%;  margin:auto;"}
    %h2{:style=>"text-align:center;margin-top:30px;"}
      %i
        =_("No results were found for")
        =params[:search][:objective_like]
-else
  #cases_table{:style => "width:99%;  margin:auto;"}
    %table.general{  :id=>'table_' + circuit.id.to_s, :name=>"table_zebra", :cellspacing=>'0'}
      //Row Titles
      =render :partial => '/case_templates/table_titles', :locals=>{ :circuit_case_columns=>circuit_case_columns, :case_template_columns=>case_template_columns, :circuit => circuit}
      //Rows Data
      =render :partial => '/case_templates/table_data', :locals=>{ :circuit=> circuit, :case_templates=>case_templates, :circuit_case_columns=>circuit_case_columns, :case_template_columns=>case_template_columns }


