//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

%fieldset{:style=>" background-color:#F8F8F8; padding:5px;border: 1px solid #666699; padding: 10px;"} 
  %legend
    =_('Data Set')
  -for column in @columns_data
    -if !@exclude_edit_data.include?(column.to_sym)
      -if @case_data[column]
        .row
          %span.label
            =column.to_sym
          %span.formw
            %input{ :name => "case_template[data][#{column}]", :type => "text", :value => @case_data[column] }
      -else  
        .row
          %span.label
            =column.to_sym
          %span.formw
            %input{ :name => "case_template[data][#{column}]", :type => "text"} 
