%fieldset{:style=>" background-color:#F8F8F8; padding:5px;border: 1px solid #666699; padding: 10px;"} 
  %legend
    =_('Data Set')
  -for column in @columns_data
    -if !@exclude_edit_data.include?(column.to_sym)
      -if @case_data[column]
        .row
          %span.label
            =column.to_sym
          %span.formw
            %input{ :name => "case_template[data][#{column}]", :type => "text", :value => @case_data[column] }
      -else  
        .row
          %span.label
            =column.to_sym
          %span.formw
            %input{ :name => "case_template[data][#{column}]", :type => "text"} 
