%fieldset{:style=>" background-color:#F8F8F8; border: 1px solid #666699; padding: 10px;"}  
  %legend
    Encabezado
  =text_field_tag "case_template[case_template_id]", "case_template_id", :value => @case_template.id, :style=>"width:200px; display:none;"
  -for column in @columns_template
    -if !@exclude_edit.include?(column.to_sym)
      -case column
        - when 'objetive'
          .row
            %span.label
              =column.capitalize
            %span.formw
              =text_field_tag "case_template[template][#{column}]", column.to_sym, :value => @case_template.send(column), :style=>"width:200px;"        
        - when 'priority'
          .row
            %span.label
              =column.capitalize 
            %span.formw
              %select{ :name => "case_template[template][#{column}]", :value => column }
                %option{ :value => "Baja"}Baja
                %option{ :value => "Media"}Media
                %option{ :value => "Alta",  :selected => ""}Alta   
        - when 'true_or_false'
          .row
            %span.label
              =column.capitalize 
            %span.formw
              %select{ :name => "case_template[template][#{column}]", :value => column }
                %option{ :value => "true" , :selected => ""}True
                %option{:value => "false" }False 
        - else
          .row
            %span.label
              =column.capitalize 
            %span.formw    
              %input{ :name => "case_template[template][#{column}]", :type => "text",:value => @case_template.send(column), :style=>"width:200px;"} 
