.tag{ :id => "excel_import", :style=>"display:none; position:fixed; left: 450px;  top:150px; width: 280px; height: 160px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"excel_import"} 
  %h3
    =_("Import Cases")
    -form_for :circuit, :url=> url_for(:controller=>:circuits, :action=>:import, :project_id=>@circuit.project_id, :circuit_id=>@circuit.id), :html => {:method => :post, :enctype => "multipart/form-data"} do
      .form{ :style=> 'margin-top:20px;'}
        %label{:for => 'upload'}
          =_("File")
          %br
          %input{ :name => "fileUpload", :type => "file" }
      .form_button{:style=>"margin-top:10px;margin-right: 20px;"}
        =submit_tag _('Import Excel')


