-#Suite
%label
  =image_tag('icons/suite_min.png', :alt=>'suite_min.png', :title=>'Suite', :width=>16, :heigth=>16)
-value =  params[:filter] && params[:filter][:suite_id] && !params[:filter][:suite_id].empty? ? params[:filter][:suite_id].to_i : ""

=select('filter', 'suite_id', [['---', 0]] + suites.collect{|p| [ p.name, p.id ] }.sort!,{:selected => value, :include_blank => _('All')})

-#Script
%label
  =image_tag('icons/script.png', :alt=>'script.png', :title=>'Script')
-value = params[:filter] && params[:filter][:circuit_id] && !params[:filter][:circuit_id].empty? ? params[:filter][:circuit_id].to_i : ''
=select('filter', 'circuit_id',[['---', 0]] + scripts.collect{|p| [p.name, p.id ] }.sort!,{:selected => value, :include_blank => _('All')})
