-context_configurations.each do |context_configuration|
  -filter_configuration_value = params[:filter] && params[:filter][:context_configurations] && params[:filter][:context_configurations][context_configuration.id.to_s]? '':'none'
  %label{:for => context_configuration.name, :title=>context_configuration.name.capitalize}
    =truncate(context_configuration.name.capitalize, :ommision => "...", :length => 15)
  =render :partial => 'filter_variable_type', :locals => {:context_configuration => context_configuration}


