%table.detail{:name=>"table_zebra"}
  %caption
    -#History
  %thead  
    %tr  
      -if suite_executions.empty? && params[:filter].nil?
        %th
          =_('No Executions')
          
      -elsif suite_executions.empty? && !params[:filter].nil?
        %th
          =_("No results were found")

      -else  
        %th.very_small
          =check_box_tag 'all', '0', checked = false,  { :id=>'check_all'}      
        %th.very_small{ :class => "sortable"}
          T
        %th.small{:class => "sortable"}
          =_('Identifier')
        %th.long{ :class => "sortable"}
          =_('Name')
        %th.small{ :class => "sortable"}
          =_('User')
        %th.small{:class => "sortable"}
          =_('Date')
        %th.very_small{:class => "sortable"}
          =_('Duration')   
        %th.small{:class => "sortable"}
          Configuration                
        %th.very_small{:class => "sortable"}
          Ok        
        %th.very_small{ :class => "sortable"}
          =_('Status')

    -#Data
    -form_tag({:action=>"get_report"},{:id=>"generar_pdf"}) do      
      -suite_executions.each do |suite_execution| 
        -#verifies the name of the suite, or if an execution unit, the script
        -if !suite_execution.executions.first
          %tr
            %td{:colspan=>'10'}
              ="Error: This suite execution has not executions ( #{suite_execution.id} )"       
        -else 
          -entity = (suite_execution.suite_id==0) ? suite_execution.executions.first.circuit : suite_execution.suite   
          -if entity
            =render :partial=>'history_table_row',:locals=>{:entity =>entity,:suite_execution=>suite_execution}
          -else
            %tr
              %td{:colspan=>'10'}
                ="Error  (Please, delete Suite execution #{suite_execution.id})"
 
