//SUITE EXECUTIONS
.info{:id=>"infoSuiteExecution", :style=>"display:none;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"infoSuiteExecution"} 
  .infoData
    %h2{:style=>"text-align:center;"}
      %b
        =_('History')
    %p{:style=>"text-align:center;"}
      =_('Project Execution History')
    %h3
      %img{:src => "/images/icons/pdf.png", :alt=>"pdf.png"}
      =_('Export to PDF')
    %p
      =_('Export Selected Execution result to PDF')
    %h3
      %img{:src => "/images/icons/ok_1.png", :alt=>"show.png"}
      =('-')
      %img{:src => "/images/icons/waiting_1.png", :alt=>"show.png"}
      =('-')
      %img{:src => "/images/icons/fail_1.png", :alt=>"show.png"}
      =_('Result.')
    %p
      =_('These icons show the Execution Result.')