%ul.height
  -exec_conf_values.each do |conf|
    %li.inline{:title=>conf.value}
      -if conf.context_configuration.view_type == 'boolean'
        -conf_name = truncate(conf.context_configuration.name.capitalize, :ommision => '...', :length =>20)
        = conf.value == '1'? image_tag('icons/check.png', :alt=>'check', :title=> conf_name  + ': True', :style=>'margin:auto;', :width=>16, :heith=>16) : image_tag('icons/cross.png', :alt=>'cross', :title=> conf_name  + ': False',:width=>16, :heith=>16)
      -else
        -if ( FileTest.exists?(RAILS_ROOT + "/public/images/specific/#{conf.value}.png") )
          =image_tag("specific/#{conf.value}.png", :alt=>"#{conf.value}.png")
        -elsif conf.value.empty?
          \---
        -else
          =truncate(conf.value.capitalize, :ommision => "...", :length =>5)
  -if exec_conf_values.empty?
    %i
      Without configuration        
