-exec_conf_values.each do |conf|
  %div{:title=>conf.value, :style=>"height:20px; text-align:center; float:left;margin-left:7px;"}
    -if conf.context_configuration.view_type == 'boolean'
      %div{:style=>"width:24px;height:24px;margin:auto;"}
        -conf_name = truncate(conf.context_configuration.name.capitalize, :ommision => "...", :length =>20)
        = conf.value == '1'? image_tag("icons/check.png", :alt=>"check", :title=> conf_name  + ": True", :style=>"margin:auto;"):image_tag("icons/cross.png", :alt=>"cross", :title=> conf_name  + ": False")
    -else
      -if ( FileTest.exists?(RAILS_ROOT + "/public/images/specific/#{conf.value}.png") )
        =image_tag("specific/#{conf.value}.png", :alt=>"#{conf.value}.png")
      -elsif conf.value.empty?
        \---
      -else
        =truncate(conf.value.capitalize, :ommision => "...", :length =>5)
-if exec_conf_values.empty?
  %i
    Without configuration        
