//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
-javascript 'history'

.main{:style=>"width:100%;padding:1% 0 0 2%;"}
  %h1{:title=>"#{_('History of Execution from: ')} " + @project.name.capitalize, :style=>"margin:0;"}
    =_('History of Execution from: ')
    =truncate(@project.name.capitalize,:ommision => "...", :length =>70)
  =render :partial => "filter_index"
  #history_table{:style=>"clear:both;"}
    =render :partial => "history_table", :locals => {:suite_executions => @suite_executions, :filter => params[:filter]}

//Tools menu
-content_for :tools_menu do
  %img{:src => "/images/icons/pdf.png",     :alt=>"pdf.png",     :title=>_('Export to PDF'),  :onClick => "EnviarFormulario();"}
  %img{:src => "/images/icons/filter.png",  :alt=>"filter.png",  :title=>_('Filter'),         :onClick => "document.getElementById('filter_form').toggle();"}
  %img{:src => "/images/icons/info.png",    :alt=>"info.png",    :title=>_('Information'),    :onClick => "document.getElementById('infoSuiteExecution').toggle();"}

//Help 
=render :partial => "info_suite_execution"
