//Rates
-if !@suite_executions.empty?
  %div{:style=>"width:96%;"}
    =render :partial => "rates"

.main{:style=>"width:100%;padding:0%;"}
  %h1{:title=>"#{_('History of Execution from: ')} " + @project.name.capitalize, :style=>"   margin: 20px auto 0;;"}
    =_('History of Execution from: ')
    =truncate(@project.name.capitalize,:ommision => "...", :length =>70)
  =render :partial => "filter_index"
  #history_table{:style=>"clear:both;"}
    =render :partial => "history_table", :locals => {:suite_executions => @suite_executions, :filter => params[:filter]}

//Tools menu
-content_for :tools_menu do
  %img{:src => "/images/icons/pdf.png",     :alt=>"pdf.png",     :title=>_('Export to PDF'),  :onClick => "EnviarFormulario();"}
  %img{:src => "/images/icons/filter.png",  :alt=>"filter.png",  :title=>_('Filter'),         :onClick => "document.getElementById('filter_form').toggle();"}
  %img{:src => "/images/icons/info.png",    :alt=>"info.png",    :title=>_('Information'),    :onClick => "document.getElementById('infoSuiteExecution').toggle();"}

//Help 
=render :partial => "info_suite_execution"

//JS
-javascript 'history'

