//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
-javascript 'tabla_editable'
-javascript 'tablesort'
-javascript 'select_all'
-javascript 'checked_default'

//Selected filed in table of cases
%script
  var marcado  = "";
  var anterior = "";
  var color_anterior = "";
  
  
.main{:style=> "padding: 0px 20px; margin-bottom:35px;"}
  %h1
    =image_tag("icons/suite.png", :alt=>"suite.png")
    =_('Execution Panel')
    = ' - '
    =truncate(@suite.name.capitalize,:ommision => "...", :length =>80)

  .form{:style => 'float:left;'}
    = error_messages_for :suite_executions
    = error_messages_for :user_configuration
    - form_for :suite_executions, :url => "/suite_executions/create", :html => {:id => "form_to_run_suite"} do
      =text_field "execution","suite_id", :value => @suite.id, :style => "display:none;"
      =text_field_tag "where_did_i_come", "suite_executions_new", :style => "display:none;"
      =text_field_tag "project_id", @suite.project_id, :style => "display:none;"

      =render :partial => 'context_configurations/variable_config', :locals => {:column_1 => @column_1, :column_2 => @column_2 }
      =render :partial => 'context_configurations/constant_config', :locals => {:user_configuration => @user_configuration }
      =render :partial => 'context_configurations/suite_config',    :locals => {:suite_id => @suite.id, :command=>@command}
  

//Tools menu
-content_for :tools_menu do
  =image_tag("/images/icons/play.png", :alt=>"run", :title=>_('Run'), :onClick => "$j('#form_to_run_suite').submit();")
  =render :partial => "queue_observers/queue_icon"
