.tag{ :id => "abm_columns", :style=>"display:none; position:fixed; width: 350px; height: 280px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"abm_columns"} 
  %h3
    =_('Columns')
  .tabs
    .t_tab{:id => "t_add", :onClick => "habilitarSolapa('add');", :style=>"background:#E0E0F8;"}
      %b
        =_('Add')
    .t_tab{:id => "t_delete", :onClick => "habilitarSolapa('delete');"}
      %b
        =_('Delete')
    .t_tab{:id => "t_modify", :onClick => "habilitarSolapa('modify');"}
      %b
        =_('Modify')
  =render :partial =>"circuit_case_columns/new"
  =render :partial =>"circuit_case_columns/delete"
  =render :partial =>"circuit_case_columns/edit"


