//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//




.tag{ :id => "abm_columns", :style=>"display:none; position:fixed; width: 350px; height: 280px;"}
  =render :partial =>"layouts/popup_header", :locals=>{:element =>"abm_columns"} 
  %h3
    =_('Columns')
  .tabs
    .t_tab{:id => "t_add", :onClick => "habilitarSolapa('add');", :style=>"background:#E0E0F8;"}
      %b
        =_('Add')
    .t_tab{:id => "t_delete", :onClick => "habilitarSolapa('delete');"}
      %b
        =_('Delete')
    .t_tab{:id => "t_modify", :onClick => "habilitarSolapa('modify');"}
      %b
        =_('Modify')
  =render :partial =>"circuit_case_columns/new"
  =render :partial =>"circuit_case_columns/delete"
  =render :partial =>"circuit_case_columns/edit"


