-if projects.empty?
  %li
    %a{ :href => "#" }
      %span
        =_('No Projects')
-projects.each do |project|
  //Build url
  -case controller_from
    -when  "suites"
      -url_project = "/suites?project_id=#{project.id}"
    -when  "suite_executions"
      -url_project = "/suite_executions?project_id=#{project.id}"      
    -else
      -url_project = (!@project_actual.nil? and !@user_last_edited_scripts.nil? and !@user_last_edited_scripts[@project_actual.id].nil?)? edit_project_circuit_path(@project_actual.id,@user_last_edited_scripts[@project_actual.id].to_s) : circuits_path

  %a{:title=>project.name.capitalize, :href => url_project }
    %li
      %span
        =truncate(project.name.capitalize, :ommision => "...", :length => 18)
  %div{ :style=>"clear: both"}
