!!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "es",  :lang => "es"}
  %head
    %meta{:"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %link{:REL=>"SHORTCUT ICON", :href=>"/images/cacique/cacique_icon.png"}         
    %title 
      Cacique
      -if @view.has_key?(@action_controller)
        \:
        =@view[@action_controller]
    =stylesheet_link_merged :base
    =javascript_include_tag :defaults, :cache => false
    =javascript_include_merged :base
    =render :partial => "layouts/click_right_menu" #Right click menu for category tree
    = yield(:head)
  =render :partial => "layouts/js_layouts"
  .resize{:style=>"margin: 0pt auto; width: 1242px;"}
  %body
    =render :partial => "layouts/menues"
    .content{:id=>"layout_content"}
      -if flash[:error]                     
        .errors
          %h1{:style =>"color:red"}
            =flash[:error]
      .notices  
        -if flash[:notice]                 
          %h1{:style =>"color:green"}
            =flash[:notice]
      %div{ :style=>"clear: both"}   
      =yield
=render :partial => "layouts/js_translate"
