!!!!
-javascript 'menu'
  
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en",  :lang => "en"}

  %head
    %meta{:"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title Cacique login
    = stylesheet_link_tag 'default.css', :cache => false
    =javascript_include_tag :defaults, :cache => false
    = yield(:head)
  %body{:style=>"overflow:auto; background:#2E3234;width:auto;"}
    //CONTENIDO  
    -if !flash[:notice].nil?                   
      .notices      
        %h1{:style =>"color:green"}
          =flash[:notice]
    =yield       
    
   


 
